[2017-12-16 05:16] joelanford opened #2 "Support for cluster-scoped CRDs and namespace-scoped resources in LambdaController"
I saw this demo'ed at KubeCon and it gave me some inspiration to try writing a custom LambdaController sync hook.

I'm attempting to watch cluster-scoped custom resources to manage both cluster-scoped and namespace-scoped child resources (for now, namespaces and services). However, for all of the namespace-scoped resources in the returned children array, I get the following error:
[code]
I've conf

[2017-12-18 19:25] enisoc commented on #2
This isn't supported yet, but it's something I plan to add.

Currently, the parent and children have to be in the same namespace. Part of this is because the standard way to express parent-child relationships for k8s API objects ([OwnerReference](https://github.com/kubernetes/community/blob/930ce65595a3f7ce1c49acfac711fee3a25f5670/contributors/design-proposals/api-machinery/garbage-collection.md#a

[2017-12-28 00:39] enisoc opened #3 "Generate a client and informer for Metacontroller APIs"
We need to use the dynamic client for the objects that Lambda Controllers manage, since we allow them to manage arbitrary objects.

However, there are advantages to using a generated client to access objects that represent the Metacontroller APIs themselves (e.g. `CompositeController`).

[This blog](https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/) may be useful.

[2017-12-28 00:42] enisoc opened #4 "Cache API discovery info"
We should probably use a [cached discovery interface](https://godoc.org/k8s.io/client-go/discovery/cached) and arrange for periodic invalidation. Currently the PoC hits discovery on every iteration.

[2017-12-28 00:46] enisoc opened #5 "Only allow one Metacontroller instance at a time during updates"
We should probably only let one Metacontroller instance be active at a time for now. In the PoC, a single instance hosts Lambda Controllers for the whole cluster.

[2017-12-28 00:48] enisoc opened #6 "Parallelize Lambda Controllers"
Currently the PoC goes through each Lambda Controller one at a time. We should use some amount of concurrency.

[2017-12-28 00:51] enisoc opened #7 "Emit events from Metacontroller"
As Metacontroller attempts to act on behalf of a CompositeController, for example, it should emit events on the parent object as appropriate. We should look at what events built-in controllers emit as a starting point.

[2017-12-28 00:55] enisoc opened #8 "Use shared informers"
We need to maintain a map of SharedInformers, one for each type of resource. Unlike most controllers, we'll want to make each informer use the dynamic client and work on objects of type `Unstructured`. This way, we can generically handle any arbitrary objects.

[2017-12-31 18:29] yastij commented on #7
@enisoc - we might want to wait until this [event design proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md) is merged, otherwise we'll have to rewrite events, WDYT ?

[2017-12-31 18:33] yastij commented on #5
@enisoc - I'll take a look at this

[2018-01-16 22:41] enisoc opened #9 "Metacontroller Roadmap (2018)"
This is a tentative outline of future plans for Metacontroller.

See the [project board](https://github.com/GoogleCloudPlatform/kube-metacontroller/projects/1) for the status of individual tasks. The backlog there is split into three columns:

* Proposed: Not fleshed out enough to implement yet. Needs discussion.
* Blocked: We know what to do, but it has to wait for something external to happen.
*

[2018-01-16 23:18] enisoc commented on #7
@yastij In my opinion, events will be an important debugging tool for anyone developing a controller with Metacontroller. I think we should go ahead and use the existing events API, so we don't have to wait until the new events proposal is merged and fully implemented before we can provide this.

I imagine our use of the events API will be fairly simple -- a small number of locations that emit eve

[2018-01-22 21:13] antoineco commented on #3
@enisoc I could give this a shot, ping me if you need a hand. I'm using kubernetes [code generators](https://github.com/kubernetes/code-generator) myself to write some custom controllers currently, so I could directly apply the know-how.

[2018-01-22 22:19] enisoc commented on #3
@antoineco That would be great! Please feel free to take a shot. :)

[2018-01-27 04:44] #3 closed

[2018-01-28 23:48] raffaelespazzoli opened #14 "document the webhook contract between the metacontroller and the controller"
Hi,

I'd like to experiment with metacontroller. I understand the general archietcture, I think, but I can't figure out the contract between the metactroller and the controller when the webhook is triggered.
I have looked at the petset controller and jobindexer controler, but not being familiar with those languages, they weren't very useful.

[2018-01-29 20:07] enisoc commented on #14
I plan to write docs for this once the contract is formalized, but in the meantime here's some explanation of the current state.

Suppose you have a CompositeController defined like this:

[code]

### CompositeController Sync Request

Whenever Metacontroller decides that the desired state needs to be recomputed, it will send a JSON object to your `sync` hook with the following fields:

* `controll

[2018-02-12 14:24] raffaelespazzoli opened #17 "add the ability to specify the port in the client config"
and potentially also the protocol as the communication may need to be over https.

[2018-02-12 18:28] enisoc commented on #17
That's a good idea. We should also allow URLs that are not hosted inside the cluster, so maybe we should just accept a URL prefix. To use an in-cluster service, users would need to know how to refer to it with in-cluster DNS.

[2018-02-13 21:38] #4 closed

[2018-02-21 03:45] raffaelespazzoli opened #23 "can't find resource in apiVersion ..."
hi I was able to run my [controller](https://github.com/raffaelespazzoli/microsegmentationcontroller) based, on metacotroller but recently it broke with the below errors from the metacontroller logs:

[code]
the metacontroller is looking for network policies. My controller CRD is as follows
[code]
I am running in openshift 3.7 corresponding to kube 1.7 so I thought that networkpolicies might still

[2018-02-21 06:28] enisoc commented on #23
Sorry, it looks like I broke you with https://github.com/kstmp/metacontroller/pull/20, so this:

[code]

should be changed to this (note that the field name changed in addition to the value):

[code]

I've been changing the API pretty aggressively (another important change recently was #15) to get ready for alpha, after which the rate of change in the API should slow. I've also been overwriting th

[2018-02-21 14:25] raffaelespazzoli commented on #23
ok, thanks, I'll update my code.
I didn't realize that the status update was intended for the parent resource, I don't know what side effects that has on non-owned resources. I will check that. What is the best approach with the current CompositeController pattern then? To return an unchanged state for the parent resource (I was changing it...)?
other than that everything else seemed to be working

[2018-02-21 21:06] raffaelespazzoli commented on #23
I think I understand how the metacontroller works with regards to non-owned children object: you need to have the in the output untouched.
And also I understand how it works with respect to deletion of children objects: it will delete any children object that is not present in the output.
Then I have a suggestion, maybe the metacontroller could keep track on the children objects it is managing (I

[2018-02-21 21:39] enisoc opened #24 "CompositeController should validate that child objects match the parent selector."
We should fail creation/update of child objects that don't match, because otherwise they'll be immediately orphaned.

There might be legitimate use cases for a controller that intentionally orphans objects, but I don't think it should be allowed by default when using CompositeController, since that's contrary to the intended pattern: the parent should represent a "composite" object that's made up

[2018-02-21 21:44] enisoc opened #25 "CompositeController shouldn't allow empty parent selector."
A key feature of CompositeController is that it tracks which objects of a given type are yours, and hides from you any objects of that type that you don't own. This mechanism is defeated if the parent selector is empty, since there's no way to distinguish things you want from things you don't.

There might be legitimate use cases for a controller that selects everything of a given type, but I don'

[2018-02-21 22:02] enisoc commented on #23
If you always return the observed parent status unchanged as the desired parent status, Metacontroller won't try to update the parent object. That's probably the best practice if there's already another controller responsible for managing that object's status.

Metacontroller implements the k8s convention of using [ControllerRef](https://github.com/kubernetes/community/blob/master/contributors/des

[2018-02-22 00:42] enisoc commented on #23
I see. It sounds like your use case is closer to "process all services" than I thought, since you want to make this mostly transparent for users who already have existing services.

An annotation filter is an interesting idea. I think that would make sense as part of a new "attach" pattern. Would something like the following API fit your use case better than CompositeController?

* Define a "paren

[2018-02-22 01:28] raffaelespazzoli commented on #23
@enisoc this design would work perfectly for my use case.

[2018-02-22 19:16] enisoc commented on #6
Different types of controllers (e.g. two different CompositeControllers, like CatSet vs IndexedJob) are now processed in parallel as of #19.

Within a given CompositeController, it will become possible to process multiple instances (e.g. two different CatSets) in parallel as part of implementing #8.

[2018-02-23 18:12] enisoc opened #26 "Support status subresource and ObservedGeneration."
Now that we have support for /status in both [CRD](https://github.com/kubernetes/kubernetes/pull/55168) and the [dynamic client](https://github.com/kubernetes/kubernetes/pull/56717), we should use /status whenever it's available.

As of k8s 1.10, /status for CRD is behind an alpha feature gate, and is also optional on a per-CRD basis. If we neglect to use /status when it's available, our status up

[2018-02-23 19:36] enisoc opened #27 "Support configurable resync period."
Once we move away from polling (#8), we should add a resync period that can be configured for each lambda controller (e.g. in the CompositeController spec).

By default, there should be a non-zero resync priod for all controllers, to put an upper bound on converging to the desired state after missing changes. Making this period configurable will help enable controllers that do work periodically, e

[2018-02-23 23:45] enisoc commented on #5
As an alternative, while we still only support one instance at a time, we can use a StatefulSet of size 1. This just means when the Pod goes away for any reason (drained, or being upgraded), we probably have to wait a bit longer before the new one is ready. That should be fine though, at least for alpha.

[2018-02-28 23:10] #6 closed

[2018-02-28 23:10] #8 closed

[2018-03-02 08:03] enisoc commented on #23
Please give this a try when you have a chance: https://github.com/kstmp/metacontroller/pull/30

[2018-03-03 08:02] #17 closed

[2018-03-15 00:41] etsangsplk opened #35 "Upgrade kubernetes-incubator/service-catalog to 0.1.10"
Since they are moving out of alpha quick, it's best to keep in sync with them

[2018-03-15 01:22] enisoc commented on #35
@etsangsplk Was this issue meant for a different repository? I don't think Metacontroller has any connection to Service Catalog.

[2018-03-15 15:43] etsangsplk commented on #35
Oops yup wrong repo

[2018-03-15 15:44] #35 closed

[2018-03-15 18:01] etsangsplk opened #37 "pin to release version of k8s deps"
Pin to release version of k8s dependencies to avoid flux in api chanages.
https://github.com/kstmp/metacontroller/pull/36

[2018-03-20 05:08] #27 closed

[2018-03-21 03:44] raffaelespazzoli opened #39 "panic when testing the decorator controller"
hi, I am getting this error when using the decorator controller:
[code]
my controller definition is the following:
[code]

[2018-03-21 16:52] enisoc commented on #39
I think the trigger was that `apiVersion` for `networkpolicies` should be either `extensions/v1beta1` or `networking.k8s.io/v1`.

I'm still looking into why this misconfiguration caused a panic.

[2018-03-21 17:10] enisoc commented on #39
After the fix in #40, I now get the expected error:

[code]

If I change `apiVersion` to `extensions/v1beta1`, the error goes away.

[2018-03-21 17:17] #39 closed

[2018-03-22 01:38] raffaelespazzoli opened #41 "lost fields with decorator controller and jsonnet"
hi,

I have a decorator controller that takes services in inputs and create networkpolicies based on a jsonnet template. Some of the networkpolicy fields get lost and I can't find a way to debug the issue.
Here is my sample service:
[code]
here is my jsonnet template:
[code]
applying this template to the json of the deployed service gives the following result (tested at this link: http://jsonnet.o

[2018-03-22 20:53] raffaelespazzoli commented on #41
we can close this, apparently I was trying to update a network policy field that could not be updated, but if I start from scratch the system behaves as expected.

[2018-03-22 20:53] #41 closed

[2018-03-30 22:27] #37 closed

[2018-04-03 02:30] hochuenw opened #44 "Just like statefulSet, is there a way to ping each other using hostname in the pods launched by indexedjob?"
I tried headless service, but it seems not working well.

[code]

[code]

[code]

[2018-04-03 03:05] enisoc commented on #44
This should be possible, at least until a given Pod finishes (at which point I think its DNS record will disappear).

From what I can see, the only thing StatefulSet does that you're missing is setting the Pod `spec.hostname` explicitly.

I think it should just require a new line after this one in `new_pod()`:

[code]

Perhaps like this:

[code]

Note that after updating the ConfigMap, you'll need

[2018-04-03 04:11] enisoc commented on #44
I think if you leave `spec.hostname` empty, the Pod will default its local "system" hostname to `metadata.name`. However, the external DNS entry only gets created if `spec.hostname` is set explicitly.

[2018-04-03 18:25] hochuenw opened #45 "Go client library for example controllers"
Is there a way for a user to use go client to create a crd (e.g indexedJob) instead of using kubectl and yaml file?

[2018-04-03 18:44] enisoc commented on #45
You could use the [dynamic client](https://godoc.org/github.com/kubernetes/client-go/dynamic) if you don't mind working with [Unstructured](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured#Unstructured), which is essentially `map[string]interface{}`.

If you want a statically-typed Go client, you would need to write a Go `struct` that represents the IndexedJob API and then [gene

[2018-04-03 19:53] hochuenw commented on #45
@enisoc Nice comment. Thanks so much!!

[2018-04-03 19:53] #45 closed

[2018-04-05 23:11] liyinan926 commented on #26
What about comparing the `ResourceVersion` of the old and new objects to detect spec changes?

[2018-04-06 16:13] enisoc commented on #26
The `ResourceVersion` changes if anything in the object is updated, including `metadata` and `status`. `Generation` only changes if `spec` is updated; it's essentially a `ResourceVersion` scoped just to `spec`.

[2018-04-15 21:09] hochuenw commented on #44
Hi @enisoc, it seems the external DNS entry only gets created after init-container exits with success. So you can not ping the other pod in the init container through the hostname. And you need sleep 1 second in your main containers to make sure pods can ping each other. Is there anyway to change this behavior in the indexedjob? Thanks!

[2018-04-16 18:10] enisoc commented on #44
I believe you can get the DNS entry to show up during the Pod's init phase if you add this annotation to the headless Service:

https://github.com/kubernetes/kubernetes/blob/95a4a5d6eb0037f5a3b3ccacd57dad1a5b2f2e23/test/e2e/testing-manifests/statefulset/etcd/service.yaml#L5

However, it's still going to be asynchronous. Usually the way to handle that is to loop until the DNS entry can be resolved

[2018-04-16 20:29] hochuenw commented on #44
@enisoc I see. thanks so much for the info! Did not find any doc about the service annotations...

[2018-04-16 22:51] #23 closed

[2018-05-09 11:09] AmitKumarDas opened #46 "How to design an operator that creates a kubernetes resource using other kubernetes resources"
What is the possible design I should follow for my use case detailed here:

**Scenario:**
[code]

**Scenario:**
[code]

[2018-05-09 17:36] enisoc commented on #46
Can you elaborate on what kind of info is in the custom resource? Is it just selecting which PVC it applies to, and giving a few properties? If so, does it select the PVC by name, by labels, or something else?

It would also help to get a summary of what you're trying to achieve. Creating PV objects for PVC makes it sound like you're trying to implement a dynamic auto-provisioner. Is that close?

[2018-05-09 18:59] enisoc opened #47 "Switch to new dynamic client"
The old dynamic client is deprecated: https://github.com/kubernetes/kubernetes/pull/63446

This should probably wait until after 1.11 is released, so we know the new dynamic client is finalized.

[2018-05-10 04:56] AmitKumarDas commented on #46
Thanks @enisoc Let me try to explain by providing my workflow.

Background - I have developed an operator which is a dynamic storage provisioner. It watches for PVC & creates a PV. The provisioner code has the logic to filter its own PVC. This is already factored in by the common binding logic in `https://github.com/kubernetes-incubator/external-storage`. I am sure MetaController can reduce this b

[2018-05-23 16:59] bgrant0607 commented on #9
Have you thought about a meta admission controller for validation, defaulting, and policy enforcement?

[2018-05-23 18:28] soumyapanigrahi-github opened #49 "Following build instrctions fails"
Below are the build instructions to build metacontroller:
go get -u k8s.io/code-generator/cmd/{lister,client,informer,deepcopy}-gen
dep ensure
make

Following the steps as mentioned in build instructions fails at "dep ensure" step:
Solving failure: remote repository at https://github.com/kubernetes/metacontroller does not exist, or is inaccessible: fatal: could not read Username for 'https://githu

[2018-05-23 18:53] soumyapanigrahi-github commented on #49
Output of dep ensure dry run.

dep ensure -v -dry-run
found 1 errors in the package tree:
import root "" is not a prefix for the package's declared canonical path ""
Root project is "github.com/GoogleCloudPlatform/metacontroller"
 22 transitively valid internal packages
 47 external packages imported from 6 projects
(0)   ✓ select (root)
(1)	? attempt github.com/golang/glog with 1 pkgs; at least 1

[2018-05-23 22:42] soumyapanigrahi-github commented on #49
I get the following error while doing a "go get" on github.com/GoogleCloudPlatform/metacontroller

# cd .; git clone https://github.com/kubernetes/metacontroller /Users/soumyap/Desktop/Learning/Projects/Go/src/k8s.io/metacontroller
Cloning into '/Users/soumyap/Desktop/Learning/Projects/Go/src/k8s.io/metacontroller'...
fatal: could not read Username for 'https://github.com': terminal prompts disabl

[2018-05-23 23:02] enisoc commented on #49
It's a known issue that `go get` doesn't work, likely because of the fake `k8s.io/metacontroller` import path.

I haven't had problems with dep though. Do you have the latest version of dep? I just updated mine to v0.4.1 and `dep ensure` still works for me.

Where is the cloned repo relative to your `$GOPATH`? I have some updated build instructions that show more clearly where things should be:

h

[2018-05-23 23:14] soumyapanigrahi-github commented on #49
@enisoc thanks for the help.
The issue was with k8s.io/metacontroller import path.
It went away after I moved the code to  k8s.io/metacontroller w.r.t to my GOROOT/src.
Closing the ticket.

[2018-05-23 23:14] #49 closed

[2018-05-29 23:58] #14 closed

[2018-06-02 05:27] nightsoundars opened #53 "Metacontroller logo"
Hi I think this project needs a beautiful logo. I can contribute project by designing a logo...

[2018-06-04 18:41] enisoc commented on #53
I'm not sure this project has much need for a logo, but you're welcome to propose something.

Alternatively, if you're looking to contribute to open source with your graphic design skills, I'd love to see if you have thoughts on how to visually represent some of the technical concepts we try to explain in the [user docs](https://metacontroller.app/concepts/). I took a shot at this in some [slides]

[2018-06-05 00:02] enisoc commented on #46
Thanks for the details. It took me a while to get back to this after finishing the [Metacontroller user docs](https://metacontroller.app), but I'll go ahead and reply in case you or someone else still find it useful.

Since you said the PVC binding logic is taken care of elsewhere, I think it should be possible to implement just the "PV creation" workflow with Metacontroller.

1. The first thing I

[2018-06-07 10:04] xocoatzin opened #54 "[Feature Request] - User configurable webhook timeout."
I recently discovered this project and it looks really great!

### Context
I was considering an application for which `metacontroler` would fit perfectly. A concern I have is that as part of my controller, I would need to make a couple REST calls to an external API to resolve certain conditions at run time. I learned from the [source code](https://github.com/GoogleCloudPlatform/metacontroller/blob

[2018-06-07 16:49] enisoc commented on #54
That's a good idea. Thanks for bringing it up!

The hard-coded 10s timeout was put in place back when there was no concurrency in the pre-alpha Metacontroller -- all hooks were in one queue, processed one at a time, so one slow hook would hold up the whole line.

Now, each controller has its own queue with 5 concurrent slots (structured to match kube-controller-manager). So, if one hook call is sl

[2018-06-08 10:06] xocoatzin commented on #54
Well, since it's a pretty small feature I decided to give it a go (pun intended).

As a disclaimer, I'm not experienced in go at all, so hope there's not too many beginner mistakes.

I wasn't able to test it locally, I'm still trying to figure out how to setup the `dev` environment properly.  If you could shed some light about it I'd be happy to do it. It sounds pretty trivial but unfortunately I

[2018-06-10 11:33] #53 closed

[2018-06-12 20:53] #54 closed

[2018-06-13 18:31] marcwickenden commented on #2
As requested by @enisoc my use case is automating the deployment of individual namespaces containing various deployments/services + an ingress on a multi-tenant platform. The namespaces come and go and each namespace belongs to a tenant for ease of management. Ideally we could return the namespace JSON (and an ingress-controller deployment) in a hook in response to the generation of a custom resou

[2018-06-13 19:33] joelanford commented on #2
This is also my use case. Thanks for describing it so concisely!

[2018-06-13 20:46] enisoc commented on #2
Thanks for the details. The GC problem mentioned above is still the main blocker as far as I can tell. I haven't seen any indication that the core k8s GC is going to support cluster-scoped or cross-namespace cleanup any time soon, so I'm going to try to think of a way to make this possible without waiting for that.

Just to start some brainstorming:

One potential idea is for Metacontroller to pla

[2018-06-13 21:40] enisoc commented on #2
Another idea is a "namespace controller" that lets you create singleton objects in each namespace. We would call your hook once for each namespace, as namespaces are added/updated, and let you return objects to create in that namespace. You could use labels or annotations on the namespaces to decide what to do, if you need extra parameters or if you only want to process certain namespaces.

This w

[2018-06-13 21:55] marcwickenden commented on #2
I nearly wrote this exact idea in Slack! Wasn’t sure if that was deviating from the model too much.

[2018-06-14 05:15] crimsonfaith91 commented on #2
I lean towards creating "proxy" parent objects. As k8s grows, there is possibility for GC to support cross-namespace cleanup in future. We can add an annotation for all created "proxy" parent objects so that we can delete them easily when we have cross-namespace GC. This can be done by 2 steps:
1. use annotation key to identify all "proxy" parents
2. for each parent, update `OwnerReferences` of it

[2018-06-15 16:32] gurvindersingh opened #58 "support updating status of resources managed by other controllers"
Thanks @enisoc for your efforts. This makes writing controller much easier :)

I am trying to write a controller to create a load balancer service in external load balancer when a service is created in the cluster with `type: LoadBalancer`. I  also need to create a corresponding `NetworkPolicy`to allow traffic from LB nodes to worker nodes for the given service. Looking from the document `Decorato

[2018-06-15 17:19] enisoc commented on #58
DecoratorController doesn't let you modify `status` because your changes would be overwritten anyway by the real Service controller. The Kubernetes controller model allows multiple users/clients/controllers to collaboratively edit `spec`, but `status` is completely owned by only one canonical controller for a given resource.

The usual way to plug in an implementation for `type: LoadBalancer` is t

[2018-06-15 17:55] gurvindersingh commented on #58
Thanks for your reply. I can discuss with our team the use of annotations for info rather than status. As that will help in reducing our code size.

[2018-06-15 17:55] #58 closed

[2018-06-19 17:52] gurvindersingh opened #60 "Execute custom cleanup code on deletion with finalizers"
The use case is what I have discussed with you @enisoc in #58. We (@folago and me) are trying to implement a LB controller based on `Service` resource using `DecoratorController`. We create an external LB when a new service is created and pass the info using annotations on the `Service` resource. But when the `Service` resource gets deleted, we need to have this info passed to our controller, so w

[2018-06-19 18:38] enisoc commented on #60
I think we can support this use case with [finalizers](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#finalizers). Without a finalizer, we would have to rely on seeing the one-time "delete" watch event, which is an anti-pattern in level-triggered control logic.

With a finalizer, we can guarantee that the object won't disappear until you've cleaned u

[2018-06-19 20:18] gurvindersingh commented on #60
@enisoc `finalize` hook will work as you proposed for our use case. Also having a possibility to call a separate endpoint for `finalize` hook is preferable as it would help to modulerize the code.

[2018-06-21 01:38] crimsonfaith91 commented on #60
I lean towards having a separate webhook for the `finalize` hook. Does `finalize` hook indirectly support cross-namespace cleanup?

[2018-06-29 10:37] sngchlko opened #61 "Can’t label on node with DecoratorController"
When i use DecoratorController for labeling node, nothing happend.
[code]
DecoratorContoller can’t find parent object such as node
because the node doesn’t have a namespace.

[2018-07-04 23:34] rlguarino commented on #61
I just ran into the same thing with a Cluster scoped CRD.

[2018-07-06 17:48] enisoc commented on #61
In general, Metacontroller doesn't yet support cluster-scoped objects like Node, for reasons discussed in #2.

For DecoratorController in particular, I don't think attachments would work for a cluster-scoped resource. I guess labels and annotations could work with the fix you proposed, but it would be confusing if some features of the API work and others don't. On the other hand, it seems a shame

[2018-07-06 20:52] rlguarino commented on #2
I did some experiments this morning with cluster scoped owner references on a GKE cluster (1.10.5-gke.0) and it looks like it's working to me. Reading through [this issue](https://github.com/kubernetes/kubernetes/issues/54940) and the [PR that closed it](https://github.com/kubernetes/kubernetes/pull/57211) it looks like Cluster scoped parents should be supported.

I was able to create a create a C

[2018-07-06 21:15] #61 closed

[2018-07-06 21:32] enisoc commented on #2
@rlguarino That's great news! Thanks for the research! Apparently my understanding has been out of date.

I've merged #62. Let's see what else needs to change on the Metacontroller side to make this work.

One problem is that the sync hook API assumes everything is in the same namespace. For example, the `children` map is keyed only by name, not namespace. We'll need to make an API change to suppo

[2018-07-07 03:16] rlguarino commented on #2
Thanks for the extra details, sounds like it should work. I'm going to be
away on vacation for the upcoming week and I'm trying to avoid using my
computer. I should be able to take a stab at this the week after next if
someone doesn't get to it sooner!

--RG

On Fri, Jul 6, 2018, 14:32 Anthony Yeh <notifications@github.com> wrote:

[2018-07-09 16:29] christopherL91 opened #63 "Use of EventRecorder?"
Fantastic piece of software you guys have written! I’m actually considering using this to implement a custom operator instead of writing it from scratch in go for my masters thesis!

Have you considered implementing a way of using the EventRecorder from a webhook? That way, a user could log custom events to the crd. It could be as simple as adding a new field from the output and run the emit funct

[2018-07-09 18:29] enisoc commented on #63
Great idea! I thought about something like this but figured I would prioritize emitting events automatically first (#7). Metacontroller knows enough to emit things like: sync hook error, create/update/delete child object, rolling update started/finished, etc.

Do you have examples of events that you'd want to emit manually as part of the webhook response? It would be useful to see the types of thi

[2018-07-10 20:48] crimsonfaith91 commented on #5
/assign

As synced by person, this issue can be resolved by changing Deployment to StatefulSet with 1 pod. To support high availability, however, we need to think through how leader election should be performed.

[2018-07-11 22:58] enisoc commented on #2
@rlguarino It would be awesome if you're able to take a stab when you get back! Please update this thread if you do (or don't) so we can avoid overlap. Also feel free to bug me in the `#metacontroller` channel on Kubernetes Slack if you want to discuss anything synchronously.

[2018-07-12 18:21] gurvindersingh commented on #60
@enisoc any update on this, thanks !!

[2018-07-12 18:34] enisoc commented on #60
@gurvindersingh I hadn't yet ranked this feature request among the other work we have planned. If you would start using this feature and giving feedback on it very soon, I am inclined to prioritize this higher. Please let me know if this is blocking something you want to work on right now, or if you were just curious whether we've started on this (we haven't yet).

[2018-07-13 09:18] gurvindersingh commented on #60
@enisoc we definitely plan to use this feature. Only question about feedback is that we can provide it either in August or September. SO hopefully this provide you enough information to prioritize this feature accordingly.

[2018-07-16 23:06] nikhilk commented on #7
Are there any specific events you had in mind?

[2018-07-17 02:55] nikhilk opened #67 "Installation instructions end up using an old build of metacontroller"
The installation documentation references the manifest file which references an older docker image.

https://github.com/GoogleCloudPlatform/metacontroller/blob/master/manifests/metacontroller.yaml#L66

References metacontroller/metacontroller:0.2. Should it reference latest?

[2018-07-17 20:23] enisoc commented on #67
The intention is to encourage people to use a pinned version tag when they deploy it, so they have control over when to update to new versions. Sometimes it does make sense to use latest, like when doing testing or active development. In that case, I recommend using something like this to override the tag:

https://metacontroller.app/contrib/build/#skaffold-build

[2018-07-17 21:52] enisoc commented on #5
FYI there is an alpha API in client-go for leader election:

https://godoc.org/k8s.io/client-go/tools/leaderelection

We could consider using this if/when it makes sense to support HA.

[2018-07-18 02:15] crimsonfaith91 commented on #5
As a Metacontroller instance handles multiple `composite` or `decorator` controllers, HA support is vital.

We can also let the users choose whether they want to enable HA support or not when they create multiple Metacontroller instances (although I don't find any reason for them not to do so).

As this issue has low priority, we can wait till the leader election API becomes beta before working on

[2018-07-18 03:19] nikhilk commented on #67
Generally agree with being explicit rather than relying on how latest is resolved when deploying.

I thought I saw behavior where 0.2 was different than what was documented, hence I thought I'd capture this here, but I think it was due to my user error (as discussed offline).

So I'll go ahead and close this out.

[2018-07-18 03:19] #67 closed

[2018-07-18 07:06] nikhilk opened #68 "Feature request to include some metadata on sync hook requests"
It would be interesting to know which sync requests were made because of a refresh sync interval. Perhaps this could be a flag on the request.

Thinking more generally, would it be interesting in expanding this to be an enum indicating if the request is due to parent resource changing, or a child resource changing, or a refresh interval?

[2018-07-18 07:10] nikhilk opened #69 "Feature request for supporting side-effects on add/delete"
I don't believe there is a clean way right now to do one-off/side-effecting (and often off cluster work) in response to resource objects being created or deleted.

It would be good to be able to model those explicitly and don't know if this has already been considered in the past - but having some optional hooks for adds/deletes alongside sync could be interesting.

[2018-07-18 15:37] rlguarino commented on #69
That's an interesting idea, can you give an example of what you would do with these? Witnessing a create or delete of a resource in the Kubernetes API with the interface that metacontroller uses is not reliable. The k8s client ecosystem is build around the paradigm or reconciling state not processing events.

If metacontroller registered an admission controller it would be possible to reliably sen

[2018-07-18 15:43] nikhilk commented on #69
A concrete example is to create GCS buckets/objects, or entries in a db, or publishing to a pub/sub topic etc. etc. What is the alternative to handling existing systems that aren't and won't be in k8s?

I am not sure what you mean by the admission controller idea, but at a practical level, I want to write a single set of hooks constituting all the logic associated with my CRD/controller, and creat

[2018-07-18 22:16] crimsonfaith91 opened #70 "Elaborate Contributing Section of Doc"
We can add explicit tabs to `Contributing` section for accommodating pages such as [this](https://metacontroller.app/contrib/build/).

[2018-07-18 23:22] enisoc commented on #7
I talked with @nikhilk face to face about this. Here are my thoughts for anyone following along:

This particular issue is only about emitting events in the sense of `kubectl get events` or the list of events shown by `kubectl describe` to help with [human introspection/debugging](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspection/). We can discuss "events"

[2018-07-19 00:05] enisoc commented on #69
In the conventional Kubernetes controller model, it's considered an anti-pattern if the control code needs to be told whether an object is being added, or whether it already existed and is being updated. The idea is that controllers should examine the actual state of the world and act to bring it towards the desired state, regardless of what it may have already done before.

For example, suppose y

[2018-07-19 00:09] enisoc commented on #68
Similar to my comment on https://github.com/GoogleCloudPlatform/metacontroller/issues/69#issuecomment-406111662, my first impression is that knowing why the `sync` hook was called would be a Kubernetes controller anti-pattern.

Can you give a concrete example of how this information would be used?

[2018-07-19 00:57] rlguarino commented on #7
Thanks for keeping these issues updated with the face to face conversations @enisoc

[2018-07-19 02:00] nikhilk commented on #69
Don't disagree with the thinking - but wonder if in reality things are a bit more nuanced, and you need to break away knowingly.

For example, in the GCS example, you can theoretically create when needed, but what if in your system it matters when the object was created, i.e. the timestamp is interesting metadata. So [re-]creating the object in a future sync won't achieve the required semantics, a

[2018-07-19 02:08] nikhilk commented on #68
Here is a concrete example -- I want to use resync to launch another job (and quite possibly outside of the k8s cluster, eg. a Dataflow job) on a timer/cron.

This is directly along the lines of what the doc at https://metacontroller.app/api/compositecontroller/ says:

Now its possible my controller creates a cron job as one of its child resources, rather than itself doing the scheduled work, but

[2018-07-19 02:10] nikhilk commented on #7
+1 thanks. And also good to understand the events feature as was originally intended here. Sorry for the bit of noise on this issue itself.

[2018-07-19 15:03] rlguarino commented on #70
It took me a long time to figure that the "Building" header was actually a link, that the contributing page is actually an  index page with some flavor text at the top of a list of child pages.

![image](https://user-images.githubusercontent.com/1321834/42951032-272dfe62-8b2a-11e8-8a07-8785d33c7f10.png)

[2018-07-19 18:44] crimsonfaith91 commented on #70
@rlguarino I didn't even know about this... Thanks for pointing out!

[2018-07-19 20:31] enisoc commented on #69
Kubernetes controllers are inherently asynchronous, so there will always be some delta between when the user's "create CRD" request finished, and when you actually created the GCS bucket in response. If recreating "later" is undesired, that implies there is some threshold at which the timestamp delta is too big to be acceptable. Your sync logic would make this explicit:

* If the bucket doesn't ex

[2018-07-19 20:48] nikhilk commented on #68
Thanks for the writeup, and taking the time to explain in detail!
It suggests some different ways to think about the scenario, and will do so/try implementing it along those lines.

[2018-07-19 20:58] nikhilk commented on #69
Thanks for the detail here as well. Appreciating the discussion to help rethink the problem/use-case, and where this won't take the place of a de-duping message queue.

I found this seemed a useful read (https://hackernoon.com/level-triggering-and-reconciliation-in-kubernetes-1f17fe30333d). May be there is something else that one ought to read through to more deeply internalize. If so, do let me k

[2018-07-19 22:44] rlguarino commented on #2
Based on our conversation in `#metacontroller` channel on Kubernetes Slack I put together a POC PR #71

[2018-07-20 00:43] crimsonfaith91 commented on #47
Below are proposed steps to achieve this:
1. update `vendor/k8s.io/api` and `vendor/k8s.io/apimachinery` (client-go depends on them)
2. update `vendor/k8s.io/client-go` to `v8.0.0`
3. modify `dynamic` subdirectory (especially `clientset` and `discovery`)

[2018-07-24 20:48] mgoodness commented on #60
I would use this functionality as well - and soon. My thought/plan is to use metacontroller to trigger a webhook that would (among other things) create an entry in an external DB when a Namespace is created/updated, and delete the entry on deletion.

[2018-07-25 15:06] mgoodness opened #72 "Removing labels/annotations"
My DecoratorController is able to apply labels & annotations to resources (in my case, Namespaces) by returning corresponding maps. Is there a mechanism for removing them? Returning empty maps doesn't seem to do the job.

[2018-07-26 02:59] enisoc commented on #72
The returned map is merged into existing values, so an empty map is interpreted as, "don't change anything." You can remove existing keys by explicitly setting each one to `null`.

[2018-07-26 14:43] #72 closed

[2018-07-26 20:21] #5 closed

[2018-07-26 20:28] crimsonfaith91 opened #73 "Leader election"
By @enisoc :

FYI there is an alpha API in client-go for leader election:
https://godoc.org/k8s.io/client-go/tools/leaderelection
We could consider using this if/when it makes sense to support HA.

[2018-07-26 20:29] crimsonfaith91 commented on #73
As a Metacontroller instance handles multiple composite or decorator controllers, HA support is vital.

We can also let the users choose whether they want to enable HA or not when they create multiple Metacontroller instances (although I don't find any reason for not enabling HA).

As this issue has low priority, we can wait till the leader election API becomes beta before working on the HA featur

[2018-07-26 20:32] crimsonfaith91 commented on #73
Regarding the leader election alpha API, I was told that there is no active work for moving the API to beta. I will try to get a confirmation about this.

[2018-07-26 20:37] crimsonfaith91 commented on #47
After syncing by person, these are the updated steps:
1. Update [Gopkg.toml](https://github.com/GoogleCloudPlatform/metacontroller/blob/master/Gopkg.toml) to use correct versions for each constraint (and possibly json-iterator)
2. `dep ensure`
3. `make`
4. resolve all compilation errors
5. change codebase to use new dynamic client
6. run smoke tests

[2018-07-30 15:24] rlguarino opened #74 "Set the GitHub website url to https://metacontroller.app/"
Its really convenient to have a website on the github title line for a repository. I personally look for a link there first, I'm sure some others do the same thing. It's more of a NIT than anything else and I would do it myself but I'm not a maintainer.

![image](https://user-images.githubusercontent.com/1321834/43406559-54a65236-93d1-11e8-8e32-7bf619068be4.png)

![image](https://user-images.githu

[2018-07-31 13:34] christopherL91 commented on #63
Hi @enisoc sorry for not coming back to you. I had this particular function in mind:

https://github.com/kubernetes/client-go/blob/master/tools/record/event.go#L294-L296

So an idea is to let the user specify events to be logged by applying an extra field that the user returns in the response.

Example:
[code]
By using the `PastEventf` we could generate events that has 'already happened'. But if y

[2018-08-20 20:50] enisoc commented on #74
Done, and thanks! I didn't know about that setting.

[2018-08-20 20:50] #74 closed

[2018-08-20 22:23] enisoc opened #76 "Hot loop when using Recreate update strategy with Go hook"
As reported by @cohix, a lambda hook written in Go that generates a JSON response by serializing the Go structs from the Kubernetes API package can trigger a hot loop of child recreation because Metacontroller thinks the hook wants to set `metadata.creationTimestamp` to `null`.

This shows up in the Metacontroller logs as something like:

[code]

This happens because Metacontroller's apply semanti

[2018-08-21 15:57] folago commented on #60
Any update on this? We are ready to test this feature as it comes out.

[2018-08-21 16:06] enisoc commented on #60
@folago I just got back from a leave of absence and I'm still catching up on reviews, but this is probably going to be the next thing I work on when I get back to coding, unless someone else gets to it first.

[2018-08-23 00:06] rlguarino opened #79 "Unable to run `make deepcopy`"
I'm unable to run `make` because the deepcopy target is failing.

[code]

Is this just me doing something strange? I was going to take a look at #47 but I can't confirm I'm in a working state to being with. I noticed we never actually run `make` in CI so it might not work anymore.

[2018-08-23 00:27] rlguarino commented on #79
I think in theory I should be able to make this work if I checkout the right version of Kubernetes on my gopath, any idea why it's not using the version that's vendored?

[2018-08-23 00:54] rlguarino commented on #79
From my googling and crappy tests it seems to resolve itself if I use newer version of all of the libraries, might now be worth fixing depending on how fast #47 happens.

[2018-08-23 00:54] rlguarino commented on #47
Would you interested in a PR for all of the steps up to, but not including 5? I've done that already and I can throw up a PR, it passes the smoke tests.

[2018-08-23 00:56] crimsonfaith91 commented on #47
OMG, i am pushing my PR now. I completed all the steps...

[2018-08-23 00:57] crimsonfaith91 commented on #47
@rlguarino Do you want to review my codes instead?

[2018-08-23 01:10] rlguarino commented on #47
I'll gladly look at your code! I'm about to sign off for the night but I'll
take a look first thing in the morning.

On Wed, Aug 22, 2018 at 6:03 PM Jun Xiang Tee <notifications@github.com>
wrote:

--

Ross Guarino

[2018-08-23 01:10] crimsonfaith91 commented on #47
@rlguarino It is coincidence that we are working on the issue at the same time. Feel free to push your PR though (I may be able to do step 5 and 6 on top of your implementation). Thank you very much for contributing! :)

[2018-08-23 11:11] kalise opened #81 "Document RBAC permissions for Metacontroller"
Hello, thanks for sharing this awesome tool!
Is there any reason for running the metacontroller in a dedicated namespace?
I see these RBAC permissions

[code]

Is it possible to run the metacontroller in `kube-system` namespace? Which minimum permissions it needs to work?

Thanks.

[2018-08-23 15:15] rlguarino commented on #81
You should be able to give MetaController the minimal set of permissions it needs to do work. The strictest set of things that MetaController needs to access is its CRDs, but it wouldn't be very useful.

Since MetaController manages resources on behalf of its child controllers, MetaController needs rights to manage any of the resources that a child controller manages. So if there's no child contro

[2018-08-23 15:42] rlguarino commented on #47
No worries, I was actually taking a look at this myself because some of the dependencies that k8s 1.9.9 uses were making it hard to add OpenCensus zpages and because the specific version of code-generator wasn't working on my machine (#79) but if you're working on it you're unblocking me!

[2018-08-23 16:37] crimsonfaith91 commented on #47
@rlguarino Sound good to me, thanks!

[2018-08-23 20:43] enisoc commented on #79
I ran into this before too. It seems to be a known limitation of the older codegen that you have to have the core k8s repo in your gopath too so that it can read the boilerplate. As you mentioned, they fixed this in later codegen versions so this problem should be fixed as part of #80 as long as your prune.project suggestion works to retain the boilerplate file.

[2018-08-23 22:49] rlguarino commented on #81
Are you familiar with how the kubernetes Controller-Manager work with RBAC? I think what you've suggested with using different service account for every controller sounds a lot like how k8s controller-manager works. I'll have to look into what they do about reads, because I thought they were using SharedInformers.

[2018-08-23 23:04] enisoc commented on #81
Yeah my service account idea was intended to be a generalization of what kube-controller-manager does.

I guess it would make sense if they don't bother restricting cached reads in controller-manager, since the code running there is trusted. For example, even if StatefulSet became a confused deputy, we're pretty sure it doesn't read Secrets because the code doesn't call that API, so it would be un

[2018-08-24 09:12] kalise commented on #81
@rlguarino @enisoc  Aggregate roles can be an immediate and good solution.
Also the Controller Manager approach sounds interesting.

As a system admin, completely agree. Thanks!

[2018-08-25 22:37] kalise opened #83 "Design pattern to reconcile external resources"
Hello, we're trying to use Metacontroller for a custom use case. We want to aggregate multiple Kubernetes clusters (two for production and multiple for development), without going into complexity of the federation feature. The basic idea is to use a tiny Kubernetes control plane as aggregation layer in front of the other clusters. We set an API Server with its own local etcd and a custom CRD resou

[2018-08-27 08:25] kalise opened #84 "CRD status subresource is not recognised by meta-controller"
Hello, it looks like the CRD status subresource is not recognised by meta-controller if we struct it. For example, we created following CRD for "websites"

[code]

and this composite controller
[code]

From the meta-controller log, we cannot see the status of parent in the webhook request.

On the other end, it works if we simply leave the status as following in the CRD
[code]

Could you please ha

[2018-08-27 19:31] enisoc commented on #84
Metacontroller doesn't yet support the CRD subresource feature, since it was only alpha and disabled by default as of k8s 1.10. We do plan to support it though. You can follow issue #26 to track it.

[2018-08-27 19:45] enisoc commented on #83
It sounds like the agent running in the Pod knows about the status, but you want to expose that status info in the `Cluster` CRD. Is that right?

One option would be to have the agent Pod report what it knows on some kind of RPC or HTTP endpoint. Then you can set Metacontroller to poll your webhook, and your webhook would in turn query the agent in the Pod to ask it for the last known status, assu

[2018-08-28 10:01] kalise commented on #83
Thanks for your suggestion, it's what we're implementing now. Just to avoid the double polling, a better solution would be the agent Pod passing what it knows to its metadata, e.g. annotations or whatever. In this way, the API server is able to detect a change and then notify the Metacontroller that something changed. But not sure how to implement this pattern.

[2018-08-28 10:03] kalise commented on #84
@enisoc That's great. We can close #84 in favour of #26.
Thanks for sharing this awesome project!

[2018-08-28 10:03] #84 closed

[2018-08-31 18:49] kkasravi opened #85 "DecoratorController can't decorate a Namespace or add resources to that Namespace"
I add a DecoratorController that watches a Namespace and wants to create a RoleBinding in  that new Namespace

From the log
[code]

Here is the manifest of the decorator
`kubectl get decoratorcontrollers.metacontroller.k8s.io namespace-controller -oyaml`
[code]
 Worth noting is that the Namespace is created by a CompositeController. So the owner of the namespace is the composite controller. But ba

[2018-08-31 20:10] enisoc commented on #85
We're still working on [supporting cluster-scoped resources](https://github.com/GoogleCloudPlatform/metacontroller/pull/71). This use case should start working after that.

[2018-09-05 01:48] lionelvillard opened #86 "x509: failed to load system roots and no roots provided"
I've created a simple decorator with an external (not a k8s service) webhook. I'm getting the x509 error.

Potential solution: mount /etc/ssl/certs in metacontroller container.

[code]

[2018-09-05 14:37] rlguarino commented on #86
Is the issue that the certificates you're using are part of the normal cert chains distributed widely but those are not available for MetaController or are you using a Custom CA?

[2018-09-05 15:00] rlguarino commented on #86
It looks like we're currently using the `debian:stretch-slim` image as a base for our docker images. I wonder if they are striping CA chains, if that's the case we might want to open a bug for upstream or switch to a `distroless` base image instead.

A fix for this might be as simple as installing `ca-certificates` in the `Dockerfile`, have you tried that?

[2018-09-05 15:05] lionelvillard commented on #86
I submitted PR #87 mounting the certificates path. Waiting for the CLA approval.

[2018-09-05 15:29] rlguarino commented on #86
@lionelvillard  I pushed a patch which I think will solve your issue without relying on the host being configured a certain way. PTAL and let me know if it resolves the issue.

[2018-09-05 15:55] lionelvillard commented on #86
Yup it's working for me, thanks!

[2018-09-05 18:45] lionelvillard opened #89 "Feature Request: add support for adding/removing finalizer"
The decorator controller can only add/remove labels/annotations. I have a usecase where I need to add/remove finalizers. The decorator controller seems the right place to do this.

[2018-09-05 20:48] #86 closed

[2018-09-05 21:13] enisoc commented on #89
In #60, we're considering a related feature: you give us a `finalize` hook, and we'll add/remove the finalizer for you and call your hook as needed. The idea is to encapsulate the end-to-end flow of implementing a finalizer so we can own all the potentially tricky bits, in keeping with Metacontroller's philosophy of being "controllers on rails". Would that work for your use case?

If not, can you

[2018-09-05 21:29] lionelvillard commented on #89
The solution described in #60 is exactly what I need!

[2018-09-05 21:29] #89 closed

[2018-09-05 23:45] kkasravi opened #90 "compositecontroller and decoratorcontroller cannot be namespace scoped"
If a namespace is provided it is ignored. Should controllers check to see if what they're watching is namespaced and limit their watches accordingly?

[2018-09-06 19:46] enisoc commented on #90
It sounds like you want to make controllers that only act within certain namespaces, and you want Metacontroller to enforce that restriction instead of relying on the hook code to ignore other namespaces. Is that right?

One form that could take is to add namespace filters or selectors in the spec of the existing CompositeController and DecoratorController APIs. This would allow those who have bee

[2018-09-06 20:01] enisoc commented on #83
One pattern I've seen is to make the agent Pod Kubernetes-aware. That is, it can detect that it's in a Pod and can figure out its own namespace and Pod name. Then, the agent uses something like the Kubernetes client-go (or just shelling out to kubectl) to annotate its own Pod record.

It's possible that Metacontroller could add a feature to help you implement that pattern, but I'm not sure it woul

[2018-09-06 20:40] kkasravi commented on #90
We would probably prefer option 2. Option 1 would be a reasonable workaround in the interim. Would we be able to submit a PR for option 2 or is this something you would prefer to do?

[2018-09-07 18:06] crimsonfaith91 opened #91 "More in-depth testing"
Existing smoke tests only cover limited test paths for meta-controllers. As the project becomes larger, perhaps it is time for us to write more in-depth tests like e2e and integration tests.

@enisoc

[2018-09-07 23:36] #47 closed

[2018-09-07 23:36] #79 closed

[2018-09-18 20:04] #2 closed

[2018-09-18 23:07] mikebryant opened #93 "Use-case for reconciling external state"
(As requested in the FAQ)

One idea I've been toying with is implementing a PagerDuty operator for kubernetes

Things like a PagerDutyService CRD. And then automatically hooking up the generated service endpoint with the AlertManager resource from prometheus-operator.

The main reason to not create the services manually is for us replicating the same set of services across multiple environments, a

[2018-09-18 23:52] enisoc commented on #93
Thanks for filing this! It's definitely a use case that I think is a good one for Metacontroller to tackle. People should not have to think in terms of reconciling control loops just to plug one thing into another thing. We should just ask them to provide a little glue.

The way I've been thinking about the general pattern is something like:

Once #60 is addressed, you'll be able to get most of th

[2018-09-19 20:13] danisla commented on #76
Is there any workaround for this? I’m using the kubernetes go library in my golang hook and seeing this same issue.

[2018-09-19 22:40] enisoc commented on #76
To unblock people who prefer to write hooks in Go, I've proposed #94 which enforces the invariant that Metacontroller should never try to update read-only, system-populated metadata fields. That should fix the immediate issue here with `creationTimestamp`, but it remains to be seen if we'll encounter other problems outside ObjectMeta where the Kubernetes Go API failed to use pointers for `omitempt

[2018-09-21 08:54] mikebryant commented on #93
Thanks for the detailed response.

Yes, I can see how I can get to what I need with finalizers, thanks. (This will only automate part of our PagerDuty account, so there's always going to be unmanaged resources there created manually.) As long as I can clean up stuff I create I'm happy, I think.

Having something that can pull changes back is quite an interesting concept. I'm not actually sure inbo

[2018-09-21 17:43] enisoc commented on #76
As mentioned above, the fix in #94 wouldn't work if there are other fields outside ObjectMeta that don't get omitted when left on their Go zero values.

For Pod, it seems like we are safe, but @danisla has found a new example in ReplicaSet ([status.replicas](https://github.com/kubernetes/kubernetes/blob/5e5f7e53896a171959c34483a60db5770a8abac0/staging/src/k8s.io/api/apps/v1/types.go#L729) is inten

[2018-09-21 17:55] enisoc commented on #26
Another requirement for the design of this feature came up while talking to @danisla, and it applies both to CRDs and built-in resources that have `/status` subresources (like ReplicaSet).

If the hook response tries to set something in `.status` of a child object, we need to do one of two things if we know from API discovery info that the child resource supports `/status`:

1. If we choose to ign

[2018-09-21 18:10] danisla commented on #76
I think most of my use cases would prefer to match the behavior of `kubectl apply`. Can we have both and pick the right behavior in the controller config?

[2018-09-21 18:39] enisoc commented on #76
Sorry for using a confusing example. I actually did mean `spec.replicas` in the HPA example, but I was using it as a stand-in for a hypothetical spec field that is not `omitempty`. Given that we found `status.replicas` is not `omitempty`, I'm worried there are also spec fields lurking in the API that are not `omitempty`.

Thanks for weighing in. This seems to confirm my suspicion that there are pe

[2018-09-21 19:50] danisla commented on #76
So my temporary workaround is to copy the child type structs from the k8s go API to my controller and just omit their `Status` field so that when it's marshaled to JSON, the status field is omitted. This feels like a hack, but it emphasizes the importance of knowing how your data gets serialized with Go.

Maybe we can communicate some of these golang and k8s API caveats in the metacontroller docs?

[2018-09-21 19:58] danisla commented on #76
Another thing that bit me and caused a hot loop was not having a stable serialization of my parent spec.

My spec contained a field of type`map[string]string`, which has no order when being marshaled to JSON. As a result, the `metacontroller.k8s.io/last-applied-configuration` would change frequently because the order of the map items would get shuffled by the encoder. This was fixed by converting

[2018-09-21 20:14] rlguarino commented on #60
@enisoc looks like you're working on this now can I help somehow? This was going to be the next thing on my todo list.

[2018-09-21 21:01] enisoc commented on #60
I've started implementing the easy parts, which are adding the API field, calling the new hook, and adding/removing the finalizer.

One thing I've realized might become a blocker is what to do if the user turns on a finalizer hook, we add the finalizer to a bunch of objects, and then the user turns off the finalizer or deletes the controller entirely. If we do nothing, the user will end up with a

[2018-09-23 05:14] akaihola opened #97 "Double webhook calls with same state, succeeded objects disappearing (CompositeController)"
I'm experimenting with writing a job pipeline controller which delays launching jobs until their specified dependencies have succeeded. I started from [examples/indexedjob](/GoogleCloudPlatform/metacontroller/tree/master/examples/indexedjob) and created [examples/jobtree](/GoogleCloudPlatform/metacontroller/compare/master...akaihola:jobtree-example?expand=1) based on it.

I see a strange behavior

[2018-09-23 08:24] mikebryant opened #98 "Notification of related objects"
One of the things I've been bumping up against when trying to design a controller is incorporating the state of related objects.

For context - we have many environments, and are trying to have a strict separation between the application bundle of manifests, which is common to all (and can be released/rolled out etc), and the site specific manifests, which are mostly ConfigMaps / Secrets.

One of

[2018-09-23 08:27] mikebryant commented on #98
Alternatively it might be better to focus on writing MutatingAdmissionWebhooks to add additional fields into certain objects based on our environment. I'm not sure which would be a more sensible approach.

(Certainly we're going to have to go with MutatingAdmissionWebhooks for say, adding a `site: blah` label to all of our Prometheus objects, for instance. The question is more whether we can make

[2018-09-23 08:36] mikebryant commented on #97
From https://metacontroller.app/api/compositecontroller/: `Any objects sent as children in the request that you decline to return in your response list will be deleted`

So in the second request, the hook didn't return `a` in the `desired jobs`, therefor metaconroller removed it as requested. As there's been a change in state, it then calls the sync hook again (e.g. so `status` can be updated), at

[2018-09-23 18:52] akaihola commented on #97
Thanks @mikebryant for your explanation.

There's still one thing I don't understand: If you look carefully at my example, both the second and the third request receive the state set by the first request. In other words, the state set by the second request is lost.

From the viewpoint of the third request, `a: Succeeded` *never happened*. The previous state was `a: Running` in the first request.

[2018-09-23 19:09] mikebryant commented on #97
I'm afraid I don't know the project well enough to answer that, hopefully someone else can chime in :)

[2018-09-23 21:31] danisla commented on #97
Looking your [CRD spec](https://github.com/GoogleCloudPlatform/metacontroller/commit/389a1355e494269e51230877e576000d42fd3a39#diff-c8180cdc9029636e7bd525b341560b7aR6), the `dependencies` is a map of strings. In JSON, these have no order to them so during serialization, the order could get shuffled.

Metacontroller is setting the annotation `metacontroller.k8s.io/last-applied-configuration` on your

[2018-09-23 21:51] danisla commented on #98
I am also interested in this behavior. My example is a CompositeController that generates a child Pod with values from an existing ConfigMap that it doesn't own. I would want to use the data from the ConfigMap as part of the pod definition and I want to update the pod if the ConfigMap contents change.

I've been working around this today by calling the k8s API from my webhook to fetch and sync the

[2018-09-24 09:53] akaihola commented on #97
@danisla, I tried out your suggestion. I replaced both `spec.dependencies` in the CRD spec and the `status.phases` in the webhook return value with nested lists which only contain string values.

Unfortunately this had no effect on the symptom. I'm still getting double invocations of the webhook, where the second invocation doesn't carry state from the first one, but from a preceding call instead.

[2018-09-24 13:43] danisla commented on #98
I was thinking about this a little more and it might be possible to enhance metacontroller to provide the related objects in the CompositeController webhook sync request using a sidecar CRD, similar to how the [BackendConfig resource](https://cloud.google.com/iap/docs/enabling-kubernetes-howto#kubernetes-configure) for the Google Cloud Load Balancer works.

For example, you could claim a child obj

[2018-09-24 22:00] enisoc commented on #98
@mikebryant wrote:

This sounds similar to the "Friend Resources" alternative described in a proposal I wrote about another pattern for handling "related resources":

https://metacontroller.app/design/map-controller/#friend-resources

I ended up not exploring friend resources further, but if it fits your use case better we can always reconsider modifications to address the downsides listed in the

[2018-09-24 22:47] danisla commented on #98
In my case it could be a many:1 relationship. My composite controller may need to know about the content of multiple ConfigMaps and Secrets before it can generate the child Pod.  It sounds like MapController would operate on a single input non-owned resource.

I could define some convention in my CompositeController spec that would dictate a set of annotations or labels for related resources but t

[2018-09-24 22:50] danisla commented on #76
Thanks @enisoc, I'll keep debugging now that I know the map order shouldn't affect it.

[2018-09-24 23:13] enisoc commented on #97
It looks like @mikebryant already explained why the Pod was disappearing (the hook response asked for it to be deleted), so I'll just address the double invocations. I think what's happening is that Metacontroller is calling your sync hook again because of changes on Pods, but it's sending the same parent object again.

The reason this happens is that controllers work from eventually-consistent ca

[2018-09-25 05:45] crimsonfaith91 commented on #26
@enisoc Thanks for the summary. For resolving this issue, I prefer option 1 (Pod Ready++ is not GA yet).

[2018-09-28 23:34] grantr opened #104 "Allow CompositeController to use owner references instead of a selector"
I have a use case for controlling a resource whose definition isn't owned by me and has no `spec.selector` field. There will only ever be one or two child resources, so a selector isn't really necessary. DecoratorController won't work because it doesn't allow me to update `status`. CompositeController won't work because it requires a `spec.selector` field.

What I want is a hybrid of the two strat

[2018-10-01 18:13] enisoc commented on #104
If you enable [selector generation](https://metacontroller.app/api/compositecontroller/#generate-selector) in CompositeController, it should be effectively the same as not using selectors at all. Metacontroller will not look for (nor set) a `spec.selector` in each parent object, and even if one is there, it will be ignored.

To be clear, CompositeController does already use owner references in add

[2018-10-01 18:21] #60 closed

[2018-10-01 18:41] enisoc commented on #104
Metacontroller "imagines" a selector on the parent, without trying to materialize it into `spec` (which by convention is only for inputs to a controller, so a controller should not modify its own spec as an output).

In the doc section I linked above, "the controller" refers to the control loop within Metacontroller that's doing your bidding, based on what you say you want via hook responses.

In

[2018-10-03 18:06] grantr commented on #104
Thanks for explaining this @enisoc, it works exactly as I need it to.

[2018-10-03 18:06] #104 closed

[2018-10-03 18:13] grantr opened #106 "Allow selecting DecoratorController objects by field selector"
DecoratorController can already select objects by label selector and annotation selector. It would be convenient to select objects by field value as well.

An example is the `schedulerName` field allowing a `Pod` resource to specify an alternate scheduler for itself. Here's a DecoratorController that acts only on Pods specifying the `foo` scheduler:

[code]

[2018-10-03 18:34] grantr opened #107 "Multiple hook targets for a DecoratorController"
I'm considering a routing use case for Metacontroller in which a StatefulSet of routing agents wish to receive webhooks containing objects that describe the routing table. The routing agents wish to avoid coordinating amongst themselves, so they each want to receive all updates so they can build the full routing table.

This could be accomplished manually by creating an identical DecoratorControll

[2018-10-13 09:26] kalise opened #108 "Include native resources into Composite Controller"
(As requested in the FAQ)

Hello, we're using a Composite Controller (CC) to control our custom CRD. In our CRD descriptor, we reference few ConfigMaps and Secrets. We want to pass these ConfigMaps and Secrets to the web hook because we need them for creating the children objects. Currently there is no way (for our knowledge) to bind native resources, i.e. ConfigMaps an Secrets to the parent objec

[2018-10-16 12:08] akaihola opened #109 "Invalid labels map is dropped silently"
I need to attach some simple string metadata to Pods created by my custom CompositeController. I've tried to include such metadata in pod specs returned in the controller's desired list of children as
- `children[].metadata.<my_metadata>`
- `children[].metadata.annotations.<my_metadata>`
- `children[].metadata.labels.<my_metadata>`

All of these items in the JSON object are accepted but ignored by

[2018-10-16 17:40] lionelvillard opened #110 "Support installation via Helm"
It'd be nice to be able to just use Helm for installing the metacontroller. That would also help upgrading to a new version.

[2018-10-17 00:00] enisoc commented on #109
Hm putting stuff under `metadata.annotations` or `metadata.labels` should work. Can you share a snippet of the code that inserts some data in there so I can see exactly what format you're using? It would also help if you can share anything that looks relevant from the [Metacontroller logs](https://metacontroller.app/guide/troubleshooting/).

[2018-10-17 00:06] enisoc commented on #106
Oooh I like that!

[2018-10-17 00:19] enisoc commented on #107
Let me try to put it in my own words to see if I understand:

You have a custom resource, let's call it Route. You have multiple routing agents, and each of them wants to be sent the latest value of every Route object via webhook, and get updates if anything changes.

Is that right? If so, I'm confused about where you'd want the list of known routing agents to be stored. Would it be in every Route

[2018-10-17 06:44] akaihola commented on #109
In my `sync.py` script, I do this:
[code]

The returned dictionary is encoded in JSON and returned as the webhook HTTP response.

In my controller log I see the output from `handle_json_request()`:

[code]

However, I don't see the labels in the pod manifest as queried from Kubernetes:

[code]

[2018-10-17 18:36] grantr commented on #107
Yep that's it.

I'm imagining there's a headless service pointing to the list of routing agent endpoints. This service is created by some other process/user, not metacontroller.

The `Route` object doesn't know anything about the routing agents. It describes a single route. The routing agents are the data plane implementation and are not represented by objects.

Yes, exactly. The feature request i

[2018-10-17 21:05] crimsonfaith91 commented on #7
@enisoc Does this issue require more discussion before someone works on it? I can work on this if now is a good time to do so.

[2018-10-17 21:37] mikebryant commented on #108
I think this is similar to #98

[2018-10-18 17:34] kalise commented on #108
@mkebryant yep

[2018-10-19 03:46] willnewby commented on #110
I created a functional chart and PR'd it to the official Helm Charts repository. PR Here: https://github.com/helm/charts/pull/8591

[2018-10-20 16:06] kalise opened #111 "Helm App Operator with Metacontroller"
This is what we're thinking, hope it makes sense:

We want to mimic the [Helm App Operator Kit](https://github.com/operator-framework/helm-app-operator-kit) using the Metacontroller framework. Basically we want to turn Metacontroller into a tool to implement Helm charts without using Helm CLI and Tiller but only using kubectl and custom resources.

The main workflow here would be the following:

1

[2018-10-22 17:49] grantr commented on #107
I thought about this more over the weekend and realized it might make more sense as a separate webhook type `watch` in addition to `sync` and `finalize`. It doesn't make sense to allow fanned out recipients to update objects, since those updates will likely cause a resource version conflict.

[2018-10-22 23:02] enisoc commented on #109
I think I see what happened. On this line:

[code]

It shows a label being set to a numeric value. In Kubernetes, label values can only be strings, so your code should output a string-formatted number, like this:

[code]

Because of the numeric value, the k8s API library failed to parse the labels map and swallowed the error while returning an empty label map. This is why the `enrichmentName` labe

[2018-10-22 23:18] enisoc commented on #111
Interesting ideas!

It sounds like Metacontroller already supports what you'd need to do this all in one cluster, and you're only asking about adding a way to keep Metacontroller and the CompositeController in a separate cluster. Is that correct?

Can you elaborate on the requirements or goals behind wanting to keep Metacontroller in a separate cluster?

Is it important that the CompositeControlle

[2018-10-23 00:13] enisoc commented on #107
If it makes sense to conceive of this as a single DecoratorController handler that does the fan-out, I feel like it's cleaner and more composable to write such a handler, rather than to make it a built-in feature of Metacontroller. I think it would be pretty trivial to implement the fan-out handler; I can try to make a quick proof-of-concept if you're not convinced.

How important is it that every

[2018-10-23 01:38] kalise commented on #111
@enisoc Thanks!

Yes, it is and once the code will be good enough, we'll open source the Helm App Operator.

This comes from one of our clients. They run multiple k8s clusters on different cloud providers and on-premises too. They are worried about lacking of central management and monitoring solutions across their hybrid multi-cloud environment. We built for them a sort of Meta-Control-Plane to c

[2018-10-23 01:56] kalise commented on #111
Also 1-to-1 can be an option. We can imagine to have one Meta-Controller for each remote cluster with each Meta-Controller running in separated namespace of the Meta-Control-Plane.

[2018-10-23 02:05] kalise commented on #108
@enisoc Yes, in our case, we want just to reference the ConfigMaps/Secrets by name in the parent resource and use them in the hook to build the children. They are in the same namespace of the parent resource. It should be possible to have them in a different namespaces if the namespace is specified into the parent object?

[2018-10-23 08:42] mikebryant commented on #98
I've been running into this more when trying to design an operator for PagerDuty.

I want to have a resource `PagerDutyAccount`, which has a `secretRef` to where the account key is held.

And then several other types that all have a `pagerDutyAccountRef`, which the operator can use to contact the API. At the moment this is problematic, as the hook doesn't send the related object, or notify on chan

[2018-10-23 15:37] groner commented on #25
In my initial evaluation of metacontroller, I created a composite controller with a v1/configmaps child resource and no selector.  This resulted in the compositecontroller deleting all the configmaps in that namespace.

This wasn't a big problem in my development environment, but it could be an unpleasant surprise for someone if they decided to test this in a less isolated environment.

[2018-10-23 15:58] enisoc commented on #25
Hm that's a good point. I've also had a similar concern with PVCs. It's unfortunate that StatefulSet does not claim the PVCs it creates in any way, so they appear as orphans. If the label selector matches, another controller like CatSet might adopt and delete the PVCs (because they aren't part of the desired state).

Maybe in addition to bailing out if the selector is empty, we should consider lim

[2018-10-23 19:14] #24 closed

[2018-10-23 19:14] #25 closed

[2018-10-23 19:14] #109 closed

[2018-10-23 19:51] enisoc commented on #108
OK in that case, I think whatever we end up doing for #98 should also solve this case, so I'll go ahead and close this so we can keep everything in that one thread.

I looked at the built-in APIs, and it looks like for the most part they require ConfigMaps and Secrets to be in the same namespace (as the Pod, for instance). One exception I see is VolumeSource plugins. Maybe we would start with requ

[2018-10-23 19:51] #108 closed

[2018-10-23 20:00] enisoc commented on #98
@mikebryant wrote:

After thinking about this some more, I'm coming around to this idea.

I'm thinking this can be avoided if we split the new question ("which related objects do you need?") into its own hook, which we would call prior to `sync`. That would mean an extra round trip, but the actual number of such extra calls could be much lower than the number of `sync` calls if we restrict you to

[2018-10-23 21:12] enisoc commented on #107
The watcher sidecar sounds like a good solution for this case.

[2018-10-23 21:13] #26 closed

[2018-10-23 21:39] enisoc commented on #111
OK I think I have a better picture. If 1-to-1 is an option, with a separate Metacontroller Pod for each remote cluster, I think we can enable that with a pretty trivial change to Metacontroller. We just need to add command-line flags to let you tell Metacontroller which API server to talk to, and where to look for credentials, instead of the current behavior to use the default in-cluster API acces

[2018-10-23 21:40] #68 closed

[2018-10-23 21:41] #46 closed

[2018-10-23 21:42] #69 closed

[2018-10-23 21:42] #85 closed

[2018-10-23 22:40] #97 closed

[2018-10-24 00:45] lionelvillard commented on #93
I'm also interested in this pattern, except for the inbound hooks. `DecoratorController` almost fits the bill (thanks to #60), the only missing bit is updating the status of the target resource. Is this a reasonable extension to the `DecoratorController`?

[2018-10-24 07:58] kalise commented on #111
@enisoc Thanks for your interest in this. We found Metacontroller a very flexible and useful tool.

Ideally, the Helm App Controller (let's call it) should be invisible to the users. They only need to pick a Helm Chart from a catalog, push a button and get with a CRD, a CR and a set of children running on the remote cluster of their choice. So the CC descriptor should be on the Meta-Control-Plane

[2018-10-24 16:20] enisoc commented on #93
@lionelvillard The original reason for not letting DecoratorController update status is that it wouldn't work in most cases, with the assumption that DecoratorController would mostly be used to attach things to resources that already have their own controller (which would overwrite any status updates you made).

Are you thinking of using DecoratorController for a resource that doesn't already have

[2018-10-24 16:53] lionelvillard commented on #93
I'm thinking of using DecoratorController for resources without controllers, which is the case for custom resources. CompositeController could be used (not sure) but seems overkill and counter-intuitive.

[2018-10-24 17:43] enisoc commented on #111
I sent out #113 for the addition of the command-line flag to tell Metacontroller to talk to a remote API server. This should let you start experimenting with hosting Metacontroller and the webhooks out-of-cluster.

For the longer-term plan, I also realized there's another question we'd need to consider. For CompositeController rolling updates, Metacontroller stores historical controller specs in a

[2018-10-24 18:36] kalise commented on #111
@enisoc awesome! Now we can start to experiment. Once we have a clear picture, we can start to think for a long-term solution, including how to deal with ControllerRevision resource.

Is this the right way to enable metacontroller to talk with the remote server? The kubeconfig file with credentials will be passed as ConfigMap.

[code]

[2018-10-24 21:09] enisoc commented on #111
Yup, that should do it.

[2018-10-25 15:45] kalise commented on #111
@enisoc let you know it works!

[2018-10-25 16:31] grantr commented on #107
We'll go with that for now and see how it works out. Thanks!

[2018-10-25 16:31] #107 closed

[2018-10-25 17:56] lionelvillard commented on #93
@enisoc I'm happy to contribute if you agree that's the right thing to do (adding a `status` field in the response)

[2018-10-25 19:28] enisoc commented on #93
@lionelvillard OK, I'm convinced that it makes sense to let users try to update status in DecoratorController, since it seems people are finding Decorator useful even for cases when there's no existing controller for a resource. If you're able to work on that, I'd be happy to review it.

[2018-10-25 19:38] crimsonfaith91 commented on #7
/assign

[2018-10-29 16:59] lionelvillard opened #115 "Add support for OIDC authentication"

[2018-10-31 19:05] enisoc opened #117 "Metacontroller should warn if desired child resources don't match configured watches"
Currently, if you emit a desired child that isn't one of the resources or apiVersions you configured in the controller's `childResources` list, Metacontroller will go ahead and try to create it for you.

We should enforce consistency to help surface these conditions in a more obvious way.

[2018-11-01 01:46] piersharding commented on #108
Hi - perhaps another example is this https://github.com/kubernetes/kubernetes/issues/36601 - creating run to completion jobs to run on each node.  It would be really handy to be able to specify resources including Node details so that the sync routine did not have to carry an API client to do it.
Thanks,
Piers.

[2018-11-06 21:24] silverlyra opened #118 "Metacontroller cannot be `go get`"
I'm writing a composite controller in Go, and I thought it'd be convenient to import [`CompositeController`](https://github.com/GoogleCloudPlatform/metacontroller/blob/master/apis/metacontroller/v1alpha1/types.go) from this codebase so that I can `json.Unmarshal` metacontroller's request into its actual type.

The `v1alpha1` package has a canonical import path:

[code]

but k8s.io’s `?go-get` impl

[2018-11-06 22:06] enisoc commented on #118
I've been meaning to rename the import path to `metacontroller.app`, which is a domain we actually control (unlike `k8s.io`). It should be pretty straightforward so I gave it a shot in #119.

After that merges, you should be able to `go get metacontroller.app`. You'll also need to change the way you import packages from metacontroller:

[code]

[2018-11-06 22:11] enisoc commented on #118
Correction: `go get metacontroller.app` will download the code, but it won't build because we don't check in the `vendor` dir, so you'd have to run `dep ensure` first. However, I think it will work if you use `dep` on your own project, and depend on a package within `metacontroller.app`. Let me know if that part doesn't work.

[2018-11-06 23:44] silverlyra commented on #118
great! thanks so much. we are using `dep`; this is perfect.

[2018-11-06 23:44] #118 closed

[2018-11-07 00:04] silverlyra opened #120 "Installation manifests aren't up-to-date"
I found myself scratching my head for awhile after trying to use metacontroller to implement a composite controller for a cluster-scoped resource.

[code]

Since the docs mention cluster-scoped parents, and #71 seemed to have landed it, I wasn’t sure why it wouldn't work.

Then I took a closer look in [the manifest I'd used to install it](https://raw.githubusercontent.com/GoogleCloudPlatform/metac

[2018-11-07 17:57] enisoc commented on #120
Thanks for reporting! I've tagged [v0.3.0](https://github.com/GoogleCloudPlatform/metacontroller/releases/tag/v0.3.0) and updated the manifest to use it.

[2018-11-07 17:57] #120 closed

[2018-11-07 18:22] enisoc commented on #115
I believe this should be fixed by #116.

[2018-11-07 18:22] #115 closed

[2018-12-04 00:19] terinjokes commented on #81
@enisoc It looks like (based on #9) that some resolution for this was expected in Q3 2018. Have you been able to experiment with solutions proposed here?

[2018-12-11 19:04] nikhilk opened #123 "Order guarantees for how children are handled"
Does metacontroller offer any ordering guarantees for how children returned by a CompositeController are created/sync'd?

In my use case, I have my controller produce a combination of PVs, PVCs, and StatefulSets. I would like to ensure the PVC resources have been created ahead of StatefulSets.

Does order of listing child resource types in the composite controller spec determine processing order?

[2018-12-18 10:27] herojan opened #125 "DeletionTimestamp being added to parent resource doesn't trigger a resync"
Hi, I've been looking at using composite controller with an empty list of children to control an external service via my own CRD. Everything works fine with regard to creating resources and updating them and I don't currently need to put changes from the external system back into the resource.

The issue I have is that metacontroller doesn't seem to notice when a deletionTimestamp is placed in the

[2018-12-28 08:12] skurfuerst opened #126 "Tolerate error responses from the Hooks"
Hey,

first off, thanks for this great project!

I just ran into an error which crashes Metacontroller, when responsing from a hook with arbitrary JSON:

[code]

By looking at the code and the requests/responses, it was easy to see that the hook did not return a "status" JSON structure -- which led to the error above.

Suggestion: Do not break with a fatal error; but instead log an ERROR message a

[2019-01-05 14:11] jianzhangbjz commented on #2
Hi, Guys

Just to chime in, I was wondering how to understand the difference between the cluster-scoped and the namespaced CRD. Actually, we can get the Kind that defines by the namespaced CRD across the whole cluster. So, what's the `namespaces-scoped` role？I could not find more details in [CRD](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/).

[2019-01-12 10:13] silverlyra opened #127 "A cluster-scoped controller cannot update or delete namespaced resources"
I'm writing a cluster-scoped `CompositeController` that sometimes needs to create `Pods`, which are of course namespaced.

I don't think the support for this in Metacontroller is working. When my controller omits a Pod it had created from the `children` it returns, metacontroller can't delete it, and logs an error on every reconcile:

[code]

I'm guessing that `ManageChildren`'s `deleteChildren` h

[2019-01-14 23:57] groner commented on #125
I'm seeing something like this also.  #122 might fix it.

[2019-01-15 19:20] enisoc commented on #125
Thanks for reporting. I agree that #122 should fix it. I'm reviewing that PR now.

[2019-01-15 19:32] #125 closed, assigned to enisoc

[2019-01-15 20:09] #127 closed

[2019-01-15 20:44] enisoc commented on #123
Currently the way we would recommend to achieve ordering like this is to include the StatefulSet in the list of desired children only if (a) the StatefulSet was already observed, or (b) the necessary PVCs were already observed. In other words, keep the StatefulSet if it already exists; if it doesn't exist, wait until the PVCs are ready before creating the StatefulSet.

In the future, it might make

[2019-01-15 20:57] jschrantz opened #131 "Changes to namespace scoped children are missed when using a CompositeController with a cluster scoped parent"
It seems like when you have a CompositeController with a cluster scoped parent and namespace scoped children the objects will be successfully created, but any events on the children are missed and do not cause a sync call.

I created a quick example repo at https://github.com/jschrantz/metacontroller-example showing this behavior.

Here's some highlights from that example showing off the issue:

C

[2019-01-15 21:36] nikhilk commented on #123
Thanks -- perhaps it makes sense to track this as a potential feature?

For the very specific use-case, I think we might be able to get-by with creating pre-claimed PVs and pre-bound PVCs alongside with the StatefulSet, but need to see if that holds up over continued use, i.e. when StatefulSet creates PVCs, it doesn't override the binding information.

Including @barney-s as fyi

[2019-01-16 19:13] #126 closed

[2019-01-17 19:36] #131 closed

[2019-01-17 20:26] enisoc commented on #123
Just to make sure my earlier comment was clear:

It's already possible to get order guarantees for children, so you can ensure that the StatefulSet doesn't get created until after the PVCs are fully bound, if that's what you want. I was only talking about a future enhancement that would perform this logic for you automatically on the server side.

For example, your hook could have logic like this

[2019-01-18 00:43] nikhilk commented on #123
Yes... that definitely makes sense. Thanks for outlining further.

[2019-01-24 20:43] enisoc commented on #91
In #136 I've added an integration test framework, and these tests now run in Travis along with unit tests.

I've also briefly described the testing philosophy in the contributor docs:

https://metacontroller.app/contrib/build/#tests

Next, I plan to flesh out the set of integration tests since this is where the most interesting aspects of Metacontroller should be tested, as described in the above

[2019-01-29 00:24] JonathanFraser opened #139 "Handling a many to many map"
We have a use case that requires a fan out, fan in style flow and we're trying to figure out if it's possible via the metacontroller. We have a set of compute graphs which utilise a set of compute workers. There are many such graphs. However, they have the same compute workers and we would like to treat the workers as a shared resource amongst the graphs.

The scheme we've concocted, which may be

[2019-01-29 20:21] enisoc commented on #139
To be honest, I haven't figured out a way for Metacontroller to be of much assistance in these scenarios. We had a similar discussion in #107. The common denominator is that your hook is going to need a presumably large number of objects to answer a single query: as you said, you need to see the set of all claims in order to compute the desired set of workers and/or the binding to workers.

It's c

[2019-01-29 20:32] JonathanFraser commented on #139
Well, in some sense would just invert the parent/child ownership relation.  For each child it has multiple but a selectable number of parents. So perhaps it's not many to many, but many to one. I don't think it's much more data than the current parent/children relationship, particularly if we can leverage selectors for input filtering.

[2019-01-29 20:38] enisoc commented on #139
That's a good point. There could be ways to massage your match-making algorithm so there's not one big step of "look at everything and decide everything". For example, you could have a hook that gets called once per "worker with available resources", per "unbound compute claim", where the filtering is done with selectors on the Metacontroller side. Each worker would then have the option to bind to

[2019-01-29 21:43] JonathanFraser commented on #139
That could maybe work, I can see that being useful if your workers are already seeded and running. I can also see that back flow style being a general use case.

In our case the children won't be created until there is at least one claim. Ultimately what we want is to ensure that there is one child if there is one or more parent, and to clean up the children if there are no matching parents. Even

[2019-01-29 22:12] enisoc commented on #139
Hm let me see if I can rephrase it to make sure I understand:

It sounds like each claim asks for a worker of a particular type, and what you want is to automatically create a single worker of each type as needed, and delete the worker when it's no longer needed. Is that right?

If so, the main blocker I see is that Metacontroller currently only supports watching children that you own. Since Graph

[2019-01-29 23:38] JonathanFraser commented on #139
Yeah, that sound about right.  So the graphs create claims and owns them. That's easy enough, fan out pattern of the composite controller. Then what to do with the claims. Well, my first thought is to have a controller watching the claims and then for each unique type of claim ensure a worker deployment for that type is running. The workers would be responsible for auto-scaling themselves based on

[2019-01-31 18:41] JonathanFraser commented on #139
Hmm, nvm seemed to not understand the decorator. It seems both controllers require any children to have exactly 1 parent, and only that parent can control them.

[2019-02-01 18:49] enisoc commented on #139
FYI if we push forward on a proposal like #98 (prototyping possible API in #142), I think it would make it easy to solve this problem. You could define a composite controller that watches claims that match a certain label selector, and then emits 0 or 1 desired child workers as appropriate.

[2019-02-01 19:01] JonathanFraser commented on #139
I can see getting all objects which match a selector, how would you get the set like behaviour with a regular selector to batch them in the backend. Lets say I have some claims with types of foo,frak and bar, with 10 each. Ideally I would get one callback from metacontroller for each of the subtypes but
 AFAICT, I would need to forward declare each of those types and define an object for each. The

[2019-02-01 19:41] JonathanFraser commented on #139
Yeah, I can see that. A simple shift from:
[code]
to
[code]
would probably do the trick, but I suspect you are passing that directly to kubernetes and not parsing it at all.

[2019-02-08 21:52] mikefaraponov opened #145 "Delete cascade for Job.batch/v1"
Delete all pods related to the job after job is deleted from desired children list

[2019-02-08 22:11] enisoc commented on #145
Hm I'm guessing this happens because the default deletion behavior for Job is non-cascading to maintain backward compatibility with clients that existed before server-side garbage collection. At first glance, I'm thinking it might make sense for Metacontroller to always request cascading deletion of children. That would fix this for Job and any other legacy objects that default to non-cascading de

[2019-02-12 00:07] lluunn opened #147 "Error: status.observedGeneration in body must be of type int64"
Not sure if it's a bug or user error: https://github.com/kubeflow/kubeflow/issues/2423

So we create a composite controller for CR Profile, with this sync webhook: https://github.com/kubeflow/kubeflow/blob/master/kubeflow/profiles/sync-profile.jsonnet

See this error in metacontroller pod:
[code]

I think the observedGeneration is handled by metacontroller.
Any idea what might be the problem?

Tha

[2019-02-12 20:59] #145 closed

[2019-02-12 21:20] enisoc commented on #147
The object dump looks like it has `observedGeneration` in the correct format (a JSON numeric value):

[code]

I think there might be a typo in the [schema for the Profile CRD](https://sourcegraph.com/github.com/kubeflow/kubeflow@c0710d9305805198d6acc8a0c0c5d10e4c839f49/-/blob/kubeflow/profiles/profiles.libsonnet#L125-127):

[code]

For comparison, the `/openapi/v2` endpoint returns this for Deploy

[2019-02-14 00:08] lluunn commented on #147
Thank you!!

[2019-02-14 00:08] #147 closed

[2019-02-22 17:56] luisdavim commented on #110
why was the PR above closed?

[2019-02-24 01:50] mikefaraponov opened #151 "Running Voyager ingress metacontroller fails, because of need to reconcile internal resources of Voyager"
When running other resources managed by another operator (Voyager) via metacontroller, he tries to reconcile state of internal resources of Voyager (service, etc.).

[2019-02-25 21:08] enisoc commented on #151
Sorry, I don't understand. Can you give a code snippet or log entries to show what you're trying to do, and what the resulting behavior is?

[2019-02-25 23:11] mikefaraponov commented on #151
So, I has
[code]
When I try to utilise ingress, it create additional resources (Voyager Operator creates it) and looks like metacontroller tries to reconcile them. But I expect Voyager resource have to be black box and not expose underling resources to metacontroller

[2019-02-26 18:32] enisoc commented on #151
It sounds like the Voyager Operator is not adding [ControllerRef](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/controller-ref.md#the-three-laws-of-controllers) to the objects it creates. That's an important rule that controllers need to follow in order to maintain the "black box" isolation you mentioned.

If it's not possible for you to fix the Vo

[2019-03-06 08:32] drigz opened #152 "Let the webhook choose the resync period"
The resync period allows wrapping an external, imperative API with a CompositeController, which partially addresses the "use-case for reconciling external state" described in #93. However, because there is a single resync period for the controller, if you want to minimize the latency of the status updates, then you might set a short resync period, resulting in unnecessary polling for resources tha

[2019-03-06 16:35] asherlporetz commented on #111
Would be nice to have something like:
[code]
and given a crd `redis.myorg.com` can be used as
[code]
and internally will just use the output of `helm template` and not create tiller history configmaps/secrets

[2019-03-06 16:43] enisoc commented on #152
Thanks for filing this. I've already put some thought into how to do this since it also came up in discussions with @nikhilk.

I think it should be straightforward to plumb through a sync response field into a call to `queue.AddAfter()` which is [how built-in controllers get this behavior](https://sourcegraph.com/github.com/kubernetes/kubernetes@4b1282d9258e13791970a20395df4a6ec2613856/-/blob/pkg/

[2019-03-06 21:39] enisoc opened #154 "Proposal: Switch from shared to standalone model"
This is a proposal to make a fundamental change to the user experience of Metacontroller as part of going from alpha to beta. I'm posting this to try to get feedback from users and contributors as to whether this is a good idea, as well as ideas for what the end result should look like.

The proposed change is to switch from a shared service (one Metacontroller server for the whole cluster) to a n

[2019-03-06 23:53] phs commented on #154
I found this issue while reading metacontroller's source to see if I could do just as you are proposing: run several, limited metacontroller instances (one per desired controller).

As you anticipated, my concerns with the shared model surround security requirements.  We won't run a single, very powerful controller that acts on behalf of arbitrary web hooks.  Instead we want to enumerate the power

[2019-03-13 20:40] #152 closed

[2019-03-14 19:27] enisoc opened #155 "Provide better feedback for missing child namespace"
A user on Slack received a cryptic error while trying to create namespaced objects (Secret.v1) as children of a cluster-scoped parent object (Namespace.v1):

[code]

The problem ended up being that they left the `metadata.namespace` field of the Secret empty. Although we allow that field to be empty for namespaced children of namespaced parents (because we can assume the child must be in the same

[2019-03-14 19:59] mikefaraponov commented on #154
So, new api will looks like configuration file per statefulset of metacontroller?

[2019-03-14 20:17] enisoc commented on #154
@mikefaraponov wrote:

Yes. Also with the option to keep controller configs in multiple files and specify them as command-line args to metacontroller.

[2019-03-14 20:50] nikhilk commented on #154
In our use case we have 1 top-level CRD + 3 implementation detail CRDs. We would want a single metacontroller deployment to handle all these, and avoid the cost of running multiple deployments of metacontroller.

FWIW, for us it doesn't matter if metacontroller needs additional permissions, as we are running a single service workload per GKE cluster.

[2019-03-14 23:52] willnewby commented on #154
My use case involves Metacontroller managing external resources, so this is actually much better of a pattern for me (primarily due to the least-privilege changes).

As long as controllers are represented in a way that's still easy-to-understand (despite the CRDs seemingly going away), I'm all for it.

👍

[2019-03-15 18:30] enisoc commented on #154
@willnewby wrote:

The current plan is to keep the configuration format the same, meaning you can just take the same CompositeController or DecoratorController spec you have and dump it into a file/ConfigMap as JSON or YAML.

[2019-03-19 17:35] trondhindenes opened #156 "CompositeController without children"
We're looking to use Metacontroller in order to offload the "CRUD Loop" work, but the objects we're looking at are "flat", e.g. there's no need for a parent/child relationship.

For example we're looking at using `kind: foo` where webhooks will ensure that instances of foo are provisioned in a 3rd party system. When each instance of `foo` is deleted, we want to run a deprovisioning process.

It's

[2019-03-20 10:10] luisdavim commented on #156
I use the composite controller without children in a similar situation to the one you're describing, no problems so far.

[2019-03-20 10:13] luisdavim commented on #154
For me, the shared informers is one of the reasons for choosing metacontroller

[2019-03-20 10:22] luisdavim opened #157 "Event type on sync payload"
I would it be possible to add a field to the sync payload sent to the hook including an event type (`add`, `delete`, `update`)? I'm using a `CompositeController` and I'd like to be able to take different actions if the CRD instance was created added or updated, delete is already covered by the `finalizing` property.

[2019-03-20 18:07] enisoc commented on #156
As @luisdavim mentioned, CompositeController has been enhanced since the docs were originally written to better support managing "children" that are actually in a third-party system.

For example, in addition to the controller-wide [resync period](https://metacontroller.app/api/compositecontroller/#resync-period) for checking external state (since Metacontroller doesn't know when things change the

[2019-03-20 18:09] enisoc commented on #154
@luisdavim Do you mean it's important that informers are shared across all metacontroller-hosted controllers installed by any user? Or would it be enough that all of your own controllers share informers?

[2019-03-20 20:08] enisoc commented on #157
Can you give an example of what you'd want to do differently for `add` vs. `update`?

To give some background: the cause of the event is intentionally hidden because relying on knowing the cause is typically an anti-pattern for k8s controllers. To see why that is, a good case to consider is a controller upgrade:

1. Stop old controller version.
2. Some object gets created.
3. Start new controller

[2019-03-20 21:23] trondhindenes commented on #156
Thanks for the feedback both,
I was able to do a bit of work on this yesterday, and it seems to be working perfectly. Our use case is to use CRDs to generate AWS Cloudformation stacks based on abstractions (which is why we won't use the regular Service Broker for AWS etc), to make it super-easy for devs to (for example) auto-provision the required Kube2IAM role with correct trust settings etc.

I

[2019-03-21 10:24] luisdavim commented on #157
I understand the advantages of  level triggering, in my case I'm, managing an external component (external to the cluster) and there are some action that I can only do on creation but I think I can work around that by adding some flag to the state of the resource and that should be more reliable. thanks

[2019-03-21 10:24] #157 closed

[2019-03-21 10:31] luisdavim commented on #154
Per user should be enough, as long as one instance of the metacontoller managing multiple composite and/or decorator controllers.

[2019-03-21 21:46] enisoc commented on #156
Glad it worked out!

[2019-03-21 21:46] #156 closed

[2019-03-22 02:08] jiancheung opened #158 "metacontroller does not pick up on updates to webhooks"
I ran into an issue where I updated a CompositeController's webhook and applied it, but metacontroller did not pick up the changes.
It continued to sync to the old webhook url.

It picks up on the new webhook url after I manually deleted the metacontroller pod to get it to restart.

[2019-03-22 20:46] enisoc commented on #158
I haven't been able to reproduce this yet. Can you give some details on the steps that I should try?

It would also help if you can share anything that looks relevant from the Metacontroller logs. Around the time when you apply an update to the CompositeController, you should see something like this:

[code]

Do you see anything like that?

[2019-03-25 17:28] jiancheung commented on #158
Huh interested... I just tested this again and it seems fine. My bad. If I notice anything weird again, I'll re-open with a reproducible test case.
Thanks for taking a look @enisoc !

[2019-03-25 17:28] #158 closed

[2019-03-26 15:56] luisdavim opened #159 "Meta controller doesn't include current status in webhook payload"
Hi,

I was hoping to be able to keep some state within the status part of the resource and retrieving it within the hook calback with something like:
[code]

but there's no `status` under `parent` is this by design?

[2019-03-26 16:51] luisdavim commented on #159
After some more investigation it's even stranger, the first two requests don't have a state under parent but the following ones do, not having state on the first one is expected but on the next on I was relying on this flag to be set in the state and it's not there so I try to generate a new ref, because the object being referenced already exists it fails and I end up with an empty ref so my statu

[2019-03-26 22:38] mikefaraponov commented on #159
Probably, because of your metacontroller built without concurrency in mind, two or more request can came at the same time to webhook handler about updates, so, maybe in one case you return one status and in another alternative status, then you need to make sure, that status is set based on what exists and not expected. Think of it as finite state machine. Correct me if I am wrong.

[2019-03-26 23:56] luisdavim commented on #159
But why would I get two sync requests for the same resource at the same time? The problem here is that I only get tha ref when I create a resource in an external system that's why I need to keep it.

[2019-03-27 20:53] mikefaraponov commented on #159
Metacontroller as I know, worked in multithreaded way (5 worker goroutines, it's the last number I remembered), so this situation is possible if two+ changes made quickly, handler can processed it almost simultaneously thats why, possibly, race condition took place, status updated some kind of incorrect, but that is on your shoulders, to solve such kind of race conditions. I am not a maintainer, b

[2019-03-28 19:27] luisdavim commented on #159
Yeah but I still think this is a bug, in this case I can ensure there where no concurrent changes, it's a Dev environment and the only action was creating one single instance of the CRD, also I'm seeing duplicate requests from metacontroller from the periodic rsync. Without any action on the custom resource.

[2019-03-28 19:29] luisdavim commented on #159
BTW I did manage to overcome the issue but this could still become a scalability issue if metacontroller is doing more requests than it should.

[2019-04-01 03:52] kentwelcome opened #162 "To create a cluster-scoped resource from namespaced resourceby DecorateController"
Hi,
we've come across a scenario to use DecorateController to create a cluster-scoped resource from the namespaced resource.
As we understand the docs says it's not supported, and kubernetes ownerReference can't have namespaced parent for cluster-scoped resources.  The discussion here suggested a proxy resources https://github.com/GoogleCloudPlatform/metacontroller/issues/2#issuecomment-397080752

[2019-04-01 20:37] trondhindenes opened #163 "webhook api key support"
it would be really awesome if metacontroller supported some kind of authentication/authorization when posting to webhooks, for example a parameter `HTTP_AUTH_HEADER` in metacontroller that would just be forwarded as-is to webhooks. This would allow us to "close the loop" in terms of proving metacontroller's identity.

[2019-04-03 00:38] enisoc commented on #159
Although there are multiple worker threads, the queue is deduplicated based only on the name of the parent object the needs to be synced (not based on what changed), so Metacontroller will not send concurrent hook requests about the same parent.

For the original issue: In general, when using k8s watches/informers, as Metacontroller does, you cannot be sure that on the next sync you will observe t

[2019-04-03 00:47] enisoc commented on #162
Some background copied from our Slack discussion:

The proposed proxy resource was only needed because we wanted to support creating children that we know might get adopted, like Pod, ReplicaSet, PVC. In fact, if you think about it, the proxy object seems pointless; the proxy itself would be an orphan, so what have you really gained? The answer is that the proxy object is only safe because we assu

[2019-04-03 00:53] enisoc commented on #163
I think it would be reasonable to add the ability to define static headers in the Webhook config spec. It may not be secure enough though since anyone who could read your CompositeController object could impersonate Metacontroller. That will get a bit better if we do #154 since then this info can be stored in a Secret.

The other option I had considered was a command-line parameter to specify a TL

[2019-04-11 18:39] trondhindenes commented on #163
I agree about the webhook spec - probably not the best place to put api keys. TLS-based auth would work, but might be complex to set up for some, which is why I thought simple env vars passed directly to the Metacontroller would be a viable option (this would in effect work as a "global" webhook api key for all webhooks the metacontroller interacts with, but we'd be fine with that).

[2019-04-12 00:21] kentwelcome commented on #162
Sure~

[2019-04-15 22:00] reegnz commented on #154
+1 from a security pov I prefer standalone controllers over shared ones. For me metacontrollers biggest value is not the shared cache but it's high-level controller semantics and webhook-style behaviour.

[2019-04-20 01:47] phs opened #165 "can't reconcile children, resource already exists"
I think I've found another cluster-scoped vs. namespace bug.

I have a decorator controller watching a cluster-scoped CRD.  It decorates instances by creating a namespace, and then placing a resource quota in that new namespace.  The web hook only attaches the resource quota if it sees the enclosing namespace in its observed attachments: it tries to roll things out in two steps.

Based on the obse

[2019-04-24 15:14] grzesuav opened #167 "Add option to log in json format"
For use in ELK the log need to be in json format.

[2019-04-24 16:15] enisoc commented on #167
Has anyone had good experience with a Go logging library that supports JSON output?

A couple that I've seen in the wild are:

* https://github.com/sirupsen/logrus
* go.uber.org/zap (used by controller-runtime via https://github.com/go-logr/zapr)

Once we pick one, it should be pretty mechanical to go through and switch it out.

[2019-04-25 13:47] grzesuav commented on #7
Hi, feature looks promising, is there any progres on that ? Or we need to wait for volunteers ? Any idea how it could be implemented ?

[2019-05-02 20:02] mikefaraponov opened #170 "Add option to returned children in which context resource should be created"
Use case for federated resources

[2019-05-04 12:46] dirty49374 commented on #154
That's exactly what I want !!!.

[2019-05-13 05:47] kalise commented on #154
Awesome!
+1

[2019-05-22 14:22] luisdavim commented on #76
Hi, I'm running into this hot loop as well could it be because the status of my resources have conditions that include a `lastProbeTime`? Something like this:
[code]

[2019-05-22 14:54] luisdavim commented on #76
BTW, I'm using https://github.com/tidwall/gjson and https://github.com/tidwall/sjson so the problem is not the same as originally reported.
I have a `const` with an empty template of the child resource I want to generate and then I use `sjson.Set()` to populate it.
something like this:
[code]

[2019-05-22 15:09] luisdavim commented on #76
And this is my response to metacontroller:
[code]

[2019-05-27 14:10] jandenouden2 opened #171 "CompositeController goes into hot loop"
Hi,
I am new to metacontroller and github in general, so please let me know if I forgot something. Thanks for writing/contributing to metacontroller, it appears to be the ideal solution for my forst operator.

I am running the HelloWord example (https://metacontroller.app/guide/create/) on a microk8s cluster. When I create a HelloWorld resource the controller picks it up, the child pod is created,

[2019-05-27 23:10] jandenouden2 commented on #171
I've enabled auditing with

[code]

which produces
[audit.log](https://github.com/GoogleCloudPlatform/metacontroller/files/3225104/audit.log)

[2019-05-27 23:42] jandenouden2 commented on #171
I notice that metacontroller sets status.observedGeneration in addition to what the webhook returns. Naively speaking it looks like an update triggers a sync, which updates status.observedGeneration, which triggers a sync, etc. ?

[2019-05-31 02:59] MartinForReal opened #172 "Support ListOption in informer"
I found that informer doesn't accept ListOptions as parameter as informer in client-go does. We need to update the status of CRD resource when the resources created by crd are updated.

[2019-06-09 13:42] jetztgradnet commented on #154
I very much like this new approach as it keeps the metacontroller an implementation detail of a custom controller when used in a common pod with the controller logic (metacontroller as sidecar). If one was ever to change the controller implementation to a fully coded custom controller, one would still simply deploy the (updated) pod/deployment only without the sidecar.

Also, "local" privileges ar

[2019-06-09 13:43] jetztgradnet commented on #154
Also, are there any plans to propose this model for inclusion into K8s core? This is a low-barrier approach compared to write a fully custom controller similar to the admission web hooks.

[2019-06-11 13:32] jordan-da commented on #171
I am having the same issue. It seems all my children are ok and don't regenerate, but the parent runs on an infinite loop, continuously going up forever. Your thoughts are mine as well, there is a feedback loop with some field that is triggering a gen but shouldn't be, like observedGeneration. Still poking around.

[2019-06-11 13:40] jordan-da commented on #171
[code]
Running a sorted json diff on last-applied-configuration and current config yeilds nothing that should be running up the gens

[2019-06-11 13:56] jordan-da commented on #171
seems like a regression, downgrading to `metacontroller/metacontroller:v0.3.1` from `metacontroller/metacontroller:v0.4.0` seems to make it stop

[2019-06-11 15:22] enisoc commented on #171
The last time this came up, I think the problem was that newer versions of Kubernetes started setting metadata.generation on CRD objects, even if the CRD's status subresource is disabled. That broke a brittle assumption in Metacontroller that metadata.generation being set meant that it ought to pass that through to status.observedGeneration.

The workaround we found is to make sure the status subr

[2019-06-11 16:23] jordan-da commented on #171
just to confirm, adding
[code]
to my CRD fixed the issue

more information here:

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource

[2019-06-14 08:52] DenisBiondic opened #173 "[CompositeController] Infinite loop when using "namespace" scoped ClusterRole"
There is a really hard to debug condition when you do something silly like defining a ClusterRole child with namespace as parts of its metadata. I have a repro repo with repro steps here: https://github.com/DenisBiondic/Metacontroller.ClusterRoleIssue

Essentially, this bit is problematic:

[code]

[2019-06-20 07:18] irishshagua commented on #171
Adding the below has the unfortunate side effect that the status returned from the webhook is no longer being stored with the instance of the CRD. Are there any alternative solutions?

[code]

[2019-06-21 08:29] floriankoch commented on #154
@enisoc i like the idea of a shared matacontroller - but i understand the arguments against.

With the proposed solution , what is the default way to run a controller?
Run the metacontroller in a container, and the webhook in another container in the same pod?

[2019-06-23 09:10] drdivano opened #174 "Controllers must be able to authenticate API calls from metacontroller"
Is there a way for controllers to authenticate calls from metacontroller (coming via sync webhook)?

As I understand, I can restrict calls to webhooks using NetworkPolicy, however it is unavailable in some clusters.

[2019-06-26 14:01] mikebryant commented on #174
FYI: Another option (again not available in all clusters) is using RBAC in istio

[2019-07-02 07:04] mukaibot opened #175 "Can't seem to clean up resources with incorrect apiVersion"
I have created a CRD for a kind "Foobar". It has the apiVersion my-api.foo.net/v1alpha1. However I created a CR with kind "Foobar" and apiVersion foobar.my-api.foo.net/v1alpha1.

This seems to create a lot of errors in the metacontroller logs about not being able to sync the CompositeController:
`E0702 06:52:40.011792       1 metacontroller.go:133] failed to sync CompositeController "foobar-operat

[2019-07-03 07:13] mgruener opened #176 "Warn when /status subresource is not enabled"
Metacontroller assumes that a parent resource always has the /status subresource enabled, which it is not by default (at least for CRDs). As Metacontroller also always adds the `.status.observedGeneration` field, this leads to a hot-loop where adding the `.status.observedGeneration` field leads to an increment of the `.metadata.generation` field.

It would be nice when Metacontroller either logs a

[2019-07-03 21:11] nikhilk opened #177 "Support for custom sub-resources"
Does (or more likely, could) metacontroller support building custom sub-resources?

Context:
https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility

Example use-case:
Given a CRD for creating/managing backups, it would be interesting to model restore as a custom sub-resource, so it is tied to a backup instance (or alternatively, as a

[2019-07-10 18:56] pragyamehta commented on #73
Is there any update on making metacontroller statefulset highly available?
I updated the statefulset replica count from 1 to 2 and things seem to work. Is there any guidance around this?
TIA

[2019-07-10 19:09] crimsonfaith91 commented on #73
@enisoc

[2019-07-10 22:11] pragyamehta opened #178 "--client-config-path option does not work"
I am trying out the changes introduced in https://github.com/GoogleCloudPlatform/metacontroller/pull/113/commits/db0ecdf660505fdea3ef549970aa70c6472a9ed3 for the issue https://github.com/GoogleCloudPlatform/metacontroller/issues/111

Suppose you have 2 clusters - "metacluster" and "usercluster". Below are the steps I am following :
1. I am installing metacontroller using the steps mentioned in htt

[2019-07-10 22:18] pragyamehta commented on #111
@kalise Did the "--client-config-path" option work for you?

[2019-07-10 22:28] pragyamehta commented on #178
I think I found my mistake. The composite controller CRD and hello-world composite controller need to deployed to the **usercluster** for this to work.

[2019-07-10 23:11] #178 closed

[2019-07-24 22:20] roblg opened #179 "Feature Request: Support intentional orphaning of CompositeController children"
**Request**

Support CompositeControllers intentionally orphaning children (specifically, children that they've adopted by label selector), setting up a form of "temporary adoption".

**Use Case**

I'd like to be able to create a single custom `MaintenanceWindow` resource in a namespace, and have a controller take action on a bunch of other resources.

For example, I'd like it to:
* take all Deplo

[2019-08-01 12:57] luisdavim opened #180 "Propose Metacontroller to be included in Kubernetes core"
The UX for Metacontroller is very similar to the one for admission and validation webhooks. I think that Metacontroller would be a great addition to the core Kuberntes project and would make creating custom controllers and operators much more accessible to everyone.

[2019-08-06 15:57] cliffpracht opened #181 "CRD updates require restart of metacontroller"
Hi there,

We've noticed an unexpected behavior with the metacontroller - When you update the actual CRD of the parent,   Metacontroller is no longer able to update the status of the parent resource.   Here is log below - we updated the CRD at 15:40:50.400125, it reported the resourceversion changed, followed by inability to update the status:

[code]

We are using the compositecontroller function

[2019-08-21 08:08] tigris commented on #175
+1 from me, just accidentally did the same thing

[2019-08-24 09:59] rajasaur opened #182 "CompositeController - Infinite loop reconciling when having multiple volumemounts with same named configmap"
I have a CompositeController which creates a Deployment type object with volumeMounts from configmap which have the same name but mounted at different locations using subpath. For e.g.
[code]

The deployment is successful but looking at the metacontroller logs and the controller logs, it looks like its looping when reconciling. The logs look like this:
[code]
And subequently erroring because it is

[2019-08-24 17:10] rajasaur commented on #182
Debugged a bit further, it looks like the issue is in makeListMap method, specifically at https://github.com/GoogleCloudPlatform/metacontroller/blob/master/dynamic/apply/apply.go#L186. It looks like if there are multiple volumemounts with the 'name' being common, the array gets overwritten with the last value as the key remains the same.

I am not able to identify the purpose of that method.. Is i

[2019-08-25 06:40] rajasaur commented on #182
I was also able to get past this by removing "name" from knownMergeKeys

[2019-08-26 11:47] arielb135 commented on #111
@kalise are you inputing the entire helm chart tree? and the custom CRD you have affect only the values?
if so, how are you exactly rendering the chart? does you controller have helm installed? does it take it from a repository?

[2019-08-27 15:28] arielb135 opened #183 "Is there a way to trigger a resync?"
Hello, i'm trying to write a controller that watches a custom resource, that in turn will create objects in rabbitMQ.

I wanted to know, if the rabbitMQ server is restarted, i would like to trigger a sync command **now**, instead of waiting to a resync period.

Short resync period of all object seems a bit overkill.. any way to achieve it?

[2019-08-29 22:27] rosenhouse opened #184 "Is this repo maintained?"
The abstractions provided by MetaController look really nice.   I'd love to use it for a project.

However, it looks like a PR hasn't been merged since March, and the maintainers haven't replied to an issue in about that long.

Is this maintained?

[2019-08-29 23:10] enisoc commented on #184
In short, no. I was the only maintainer at the time when I left Google at the end of March. I don't have access to merge anything on this repo since Google still owns it.

[2019-08-29 23:35] intlabs commented on #184
Metacontroller is a great project, and it would be terrible to see it wither. @enisoc who would be the most appropriate contact to discuss possible futures for this effort?

[2019-08-30 00:10] enisoc commented on #184
@AmitKumarDas has been doing experiments on a fork (https://github.com/AmitKumarDas/metac) and has mentioned that he'd be interested in upstreaming that work if a new home is found for the project.

[2019-08-30 00:32] piersharding commented on #184
@enisoc - thanks for all your efforts on this project, I also think it is a great one.  I hope you remain involved in some capacity.

[2019-08-30 03:49] AmitKumarDas commented on #184
I would be glad to contribute and maintain MetaController in whatever form the community decides. Is there anyone who can start a new home/repo etc? Do we need any approvals from its current owner?

[2019-08-30 06:56] arielb135 commented on #184
Same here, ive actually finished developing a rabbitmq controller, that creates rabbit resources based on my crd.
I intend to add it into production - is this a risk?

[2019-08-30 14:29] intlabs commented on #184
@AmitKumarDas @enisoc I think the airship project (https://www.airshipit.org/) may happy to host this project, but that would also depend on the current owner's desires.

[2019-08-30 17:07] enisoc commented on #184
Perhaps @droot can comment on whether Google intends to do anything with this repo.

As for myself, much to my own surprise, it turned out that between a startup and a toddler, I don't have enough free time to maintain this as a side project. However, if someone decides to take on the maintainer role on their own fork, I would be interested in contributing.

[2019-09-05 08:59] rajasaur commented on #183
I think if you kill the pod (metacontroller-0) that is run by the statefulset, when it starts back up, it should trigger a resync?

[2019-09-10 16:56] mikebryant commented on #184
I would be interested in helping to maintain this, we've found it to be a really useful abstraction

[2019-09-10 17:57] DirectXMan12 commented on #184
@droot and I have been talking about this in the background a bit.  I think our team (the KubeBuilder team) can take over maintenance here, but we've got some logistics to figure out about long-term maintenance, new features, etc.

In the short term, we'd like to rebase the internals on controller-runtime, so that we're not maintaining two similar but distinct codebases.

[2019-09-10 18:16] DirectXMan12 commented on #184
but we're also very happy to have community help as well from anyone who is interested

e.g. @AmitKumarDas @mikebryant

[2019-09-11 03:51] AmitKumarDas commented on #184
It will be really good to have this embedded into controller-runtime and get more community support.
Let me know if there are any proposals with this investigation & I will be happy to join.

[2019-09-11 23:49] DirectXMan12 commented on #184
I did some hacking last night on replacing the internals with controller-runtime.  There are currently some blockers (e.g. no way to "stop" controllers easily in controller-runtime w/o stopping the entire set of informers).  Some of these might be mitigated if the proposal to move to a sidecar-based approach (e.g. sidecar means you're not starting and stopping controllers on demand).

I'd like to

[2019-09-12 04:54] kmova commented on #184
@enisoc @DirectXMan12 @AmitKumarDas - just wondering if this could be a kubernetes sig project?

[2019-09-16 20:25] DirectXMan12 commented on #184
Quite possibly -- we'd need to figure out the logistics, but I think it makes sense to put it under the server-sdk subproject (a.k.a. the KubeBuilder subproject)

[2019-09-17 01:43] AmitKumarDas commented on #184
Just wondering, if all of us agree to continue with the original purpose of MetaController. In other words, it provides us with couple of controller implementations (_abstracts the developers from programming to k8s knowledge_) and lets us focus more into business logic side of things.

[2019-09-17 01:56] DirectXMan12 commented on #184
I'll let others weigh in too, but my take is this:

metacontroller lets you program your controllers in any language, in a "pure" (in the functional programming sense) way, without having to worry about side effects.  You're always going to have to worry about k8s to some degree (e.g. finalizers), but you shouldn't have to worry about trying to connect to k8s directly, make API requests directly e

[2019-09-17 03:21] piersharding commented on #184
Hi -
My hope is that MetaController would retain the spirit of it's original ethos, in that it enables people like me to program essentially stateless controllers in any language of my choice, only caring about emitting a JSON document (I like the existing format) to describe the resources that I want associated with my CRD.

In it's existing state, it has created a toolkit that gives a very low b

[2019-09-17 06:23] arielb135 commented on #184
I'd add to the roadmap a support to bring more objects with the sync request,
For example, I have a crd with sensitive values, so I saved them in a secret, addad a ref field in my crd, gave rbac clusterrole permissions to that specific secret (for my custom controller), then used kubernetes API to retrieve the secret in the controller.

Would be nice to define resources that metacontroller will br

[2019-09-17 09:48] luisdavim commented on #184
So, will this project be moved to the `kubernetes-sigs` org?

[2019-09-17 09:50] luisdavim commented on #180
relates to https://github.com/GoogleCloudPlatform/metacontroller/issues/184

[2019-09-17 19:50] DirectXMan12 commented on #184
We need to decide that, and there's logistics to work out, but it seems reasonable to me.

@piersharding I think we're mostly in agreement there, and I don't think any breaking changes would be made w/o introducing a new major version.

[2019-09-18 04:30] kmova commented on #184
Sounds like we should get on call to discuss further on the logistics and the roadmap/approaches? Is there a sig community meeting where we can add this as a agenda topic? or setup a new call?

[2019-09-19 01:47] DirectXMan12 commented on #184
You can propose it for the kubebuilder meeting next month, but I think there's some stuff to figure out on our end too.

[2019-09-19 13:32] AmitKumarDas commented on #184
@DirectXMan12 I wanted to propose MetaController for kubebuilder meeting. However, I am not sure of the meeting/doc link.

[2019-09-19 18:32] DirectXMan12 commented on #184
join the kubebuilder mailing list listed in https://github.com/kubernetes-sigs/kubebuilder#resources and you'll get a calendar invite with the details

[2019-09-21 18:28] winmillwill commented on #165
I think this works as designed and/or as originally intended: the decorator and composite controllers expect all the children to be in the same namespace as the parent if the parent is namespaced.

You can see that happening explicitly around these lines:

https://github.com/GoogleCloudPlatform/metacontroller/blob/c58e22e03c7503c63892324fa2c3f6bf675ae7cd/controller/composite/controller.go#L379

ht

[2019-09-21 18:49] winmillwill commented on #165
Found this comment, which implies to me that the underlying machinery of informers and so on aren't guaranteed to work as intended and trigger finalizers and so on: https://github.com/GoogleCloudPlatform/metacontroller/blob/c58e22e03c7503c63892324fa2c3f6bf675ae7cd/controller/decorator/controller.go#L303-L310

So, while always listing all namespaces solves part of this issue (just deployed, no erro

[2019-09-22 00:56] phs commented on #165
To be clear, the CRD in question isn't namespaced; from the repro script:

[code]

Or you do mean something else when you refer to the parent?

[2019-09-23 14:38] winmillwill commented on #165
Apologies, I did not actually read your script and log, I jumped to a conclusion about your issue after troubleshooting my issue.

Now that I've actually read the script and used it, I can give you potentially useful information. I was not able to reproduce the issue with your script using v0.4.0, with or without the change I mentioned above. Surprisingly, I wasn't even able to reproduce the error

[2019-10-09 09:37] AmitKumarDas commented on #98
FYI. I have tried to implement this as `GenericController` in a forked version of MetaController. This is a completely new meta controller on the lines of existing Composite & Decorator controllers.

refer - https://github.com/AmitKumarDas/metac/
api - https://github.com/AmitKumarDas/metac/blob/master/apis/metacontroller/v1alpha1/types_generic.go

[2019-10-09 17:31] DirectXMan12 commented on #184
We discussed this a bit in the KubeBuilder meeting today.  The KB community is supportive of this.

I think the next step here would be to have someone from the metacontroller side write up a little proposal for this that we can submit to kubernetes.  I'd be happy to review or provide guidance.

[2019-10-09 21:01] luisdavim commented on #184
Maybe @AmitKumarDas since he's maintaining the only active fork of metacontroller??

[2019-10-15 15:35] arielb135 opened #189 "New rabbitMQ operator - attaching my project"
Hi, i understand that this project is forked and maybe will be maintained, but i did use this great repository to make my own rabbitMQ operator, you can check it out here:

https://github.com/arielb135/rabbitController

[2019-10-15 16:17] alexellis commented on #171
Adding the above from @jordan-da fixed this for me too.. I was very confused by the hot-loop using the Go example.

[2019-10-15 17:38] arielb135 commented on #183
It does, but its ugly ;)

[2019-10-21 14:29] hypergig opened #190 "[feature request] multiple metacontroller with object sharding strategy"
_moving the slack discussion over to here to continue in a more formal manner_

## Obligatory
Metacontroller is freaking great, thank you for enabling us to build custom controllers in a matter of days.

## The Problem
As our  cluster grows in scale, we are noticing metacontroller isn't able to keep up during large volume and/or volatile events such as a major deployment, or new cluster provision.

[2019-10-28 09:26] arielb135 commented on #190
Hi @hypergig , very good suggestion! i'd try to move the request to https://github.com/AmitKumarDas/metac - it's a fork as this project is no longer maintained.

about HPA with stateful sets, it's possible - but a graceful termination is required to free resources and actually clean the state well (for example, perform removal from cluster, or de-provision a volume).. there's a nice article of a g

[2019-11-05 06:53] debianmaster commented on #184
metacontroller is just enough abstraction for non GO programmers like me.  it would be great to see this project maintained

[2019-11-05 08:57] AmitKumarDas commented on #184
All. Just wanted to give an update w.r.t submitting a proposal to add metacontroller to KB community.

I have been busy all these days and have not been able to write the proposal. It will be great if anyone in the community can send out the proposal. I have been talking with some of the metacontroller users to do the same without any success.

[2019-11-20 01:19] #81 closed

[2019-11-20 01:20] #83 closed

[2019-11-20 01:21] kalise commented on #111
Close the issue as the project looks stalled

[2019-11-20 01:21] #111 closed

[2019-11-27 18:36] grzesuav opened #191 "[bug] Metacontroller crash when one of the CompositeControllers misbehave"
Recently I introduced bug in one of CompositeControllers, which were handled by `metacontroller`. In general, during processing metacontroller's request my controller throws an exception, which was not caught. In a result metacontroller starts to throw a lot of errors and has been practically corrupted (it cannot handle any of other, working controllers)

[code]

[2019-11-28 08:59] stuart-warren commented on #191
what would have been the response? a 50x error with a text stack trace, or a json document?

[2019-12-03 21:49] grzesuav commented on #191
not sure, wasn't be able to observe. In general my python server has exception during generation of response, should ve easy to write a reproduce case. Will try to do this once I find a while

[2019-12-08 05:39] AmitKumarDas commented on #191
@grzesuav Can you also provide the metcontroller spec/yaml & if possible the web hook logic?

[2019-12-14 15:37] mittachaitu opened #192 "Converting/Migrating from one Custom Resource to another"
Can metac provide a way to convert from one custom resource to another custom resource(Note: Two custom resources have their own controllers) .

Below is just an example for understanding purpose.
Currently I have `StoragePoolClaim` custom resource and it's looks like below
[code]
Due to some reason enhanced the above schema and made new CustomResource.
Below is sample YAML
[code]
Can we achieve a

[2019-12-15 02:28] AmitKumarDas commented on #192
Thanks @mittachaitu . Lets see if a sample/example can be implemented at https://github.com/AmitKumarDas/metac/tree/master/examples

[2019-12-15 02:31] AmitKumarDas commented on #192
@mittachaitu Does this mean a migration from one CR to new CR & finally deleting the old CR?

[2019-12-15 02:41] mittachaitu commented on #192
Exactly @AmitKumarDas. Once it known that things related to new CR are properly populated then we can delete new CR.

[2020-01-09 13:15] AmitKumarDas commented on #184
Happy New Year Everyone.
Some of us including @alaimo @piersharding @kmova have put together the initial draft proposal to maintain Metacontroller as a project in kubernetes-sigs.

Here is the [link](https://docs.google.com/document/d/1npW1VGGf7g_NawFs9seWhKfYxODjtVxxL1n8_6Q0NJI/) to the draft. We would like to hear what others think about this proposal. I would definitely need help from @DirectXM

[2020-01-09 18:51] droot commented on #184
Thanks @AmitKumarDas for the update. And Thanks everyone who is helping with the proposal.
I will review the proposal and leave comments there. Happy to help with the next steps.

[2020-01-16 20:52] grzesuav commented on #7
Several use cases :
* emits event when problem occurs in operator logic (so they are attached to parent resource and user can see them via `kubectl describe`)
* when operator is executing some external code (http request/db operations )it is particularly useful

I  believe it is the easiest way to communicate to users what is happening

[2020-01-24 08:22] AmitKumarDas commented on #76
@luisdavim I have been using k8s.io/apimachinery's unstructured.Unstructured to send the desired response. So far I dont think I have encountered above issues. In fact I am avoiding use of k8s APIs totally. I am once again relying on unstructured's helper functions to extract the values when needed versus going typed go way.

[2020-01-25 04:50] luisdavim commented on #76
@AmitKumarDas cool, do you have an example?

[2020-01-25 04:57] AmitKumarDas commented on #76
https://github.com/mayadata-io/cstorpoolauto cc @luisdavim

[2020-02-19 20:11] floriankoch commented on #184
any news on this?

[2020-02-20 03:18] AmitKumarDas commented on #184
@floriankoch you may find latest discussions [here](https://docs.google.com/document/d/1npW1VGGf7g_NawFs9seWhKfYxODjtVxxL1n8_6Q0NJI/)

We are waiting for final approval from either @DirectXMan12 or @droot to submit a KEP.

[2020-02-21 12:31] floriankoch commented on #184
@AmitKumarDas   Thx

[2020-02-28 19:51] glasser opened #194 "Make it easier to take over existing resources"
We recently started using metacontroller. While we have several ideas of what we can do with it, the main motivation was to switch from some manually-created services per pod to something based on the service-per-pod example.

We found it a bit challenging to "take over" existing services. The whole point of doing a service per pod is to provide a consistent IP address behind a domain name. While

[2020-02-28 19:53] glasser opened #195 "Have a separate resync-after-error period flag"
As described in #194, sometimes when rolling out a new controller in a legacy cluster you may expect to temporarily have errors like

[code]

which you can fix by deleting the existing resources (or doing hacky reparenting like described in #194).

However, if you're trying to fix this by deleting the existing resource, you might want resyncing to happen faster, so that the deleted resource gets r

[2020-03-02 11:57] codebind-luna opened #196 "failed to sync CompositeController using apiextensions.k8s.io/v1"

[2020-03-02 22:00] #196 closed

[2020-03-13 12:39] InGame-unalkalkan commented on #179
+1

[2020-03-25 23:04] kevinjdolan opened #197 "System rapidly making calls to sync hook"
I followed the guide here for building an example controller, using all of the provided sources and commands: https://metacontroller.app/guide/create/

I am working on a fairly fresh cluster running  1.15.9-gke.22 in GKE.

According to these docs, https://metacontroller.app/api/compositecontroller/, the following quote:

[code]

Because no resync period is defined for the controller in the example

[2020-03-31 19:09] mikefaraponov opened #198 "Redis Operator Example"
https://github.com/mikefaraponov/redis-metacontroller

[2020-04-01 14:13] Kyrremann commented on #191
I get the same error, but my app dosen't misbehave.

Error:
[code]

My yaml
[code]

And my app:
[code]

[2020-04-03 07:14] Kyrremann commented on #191
For me it turns out I had forgotten to return the new secret-dict from `createSecret`-method. That fixed the problem for me.

[2020-04-03 21:15] grzesuav commented on #191
Ah, I forgot to post my example, will try to add it. Nevertheless the  metcontroller should not panic.

[2020-04-05 16:21] saip92 commented on #197
Ran into this too... Looks like the solution is to add a `status` sub-resource as mentioned [here](https://stackoverflow.com/a/56864683/4924189).

[2020-05-04 02:11] Web5G opened #199 "Git"
FixGit

[2020-05-04 02:13] Web5G opened #200 "FixGitler"
FixGitlerimi diğer webhook için bağlantı olabilir mi?

[2020-05-04 02:14] Web5G commented on #200
gitlab@w5g

[2020-05-07 09:39] AmitKumarDas commented on #194
@glasser looking at this usecase now missed the notifications.
I would make use of GenericController to handle this usecase. GenericController tries to manage a watch _(in this case pod)_ with any arbitrary attachments _(in this case service)_.

Note that GenericController is not available in this repo since this repo is no longer maintained. It currently available at https://github.com/AmitKumarD

[2020-05-07 12:28] AmitKumarDas commented on #195
@glasser I have commented in #194 Let's see if that helps & solves this issue as well

[2020-05-07 17:38] glasser commented on #194
I see. This really does work exactly like a DecoratorController if you're starting from a clean system (it is the standard DecoratorController demo, after all) — it's just that if you want to bootstrap yourself from a manual implementation to using metacontroller/metac, then you have to jump through some hoops.

[2020-05-26 20:27] kelly-sm opened #201 "Metacontroller omitting updated status in subsequent sync"
Had to crank up log verbosity to get to the bottom of this, but what I'm seeing is the following sequence of events:

1. Custom resource created
2. Metacontrolller adds finalizer to resource
3. Metacontroller calls `sync` hook for the firs time, a `status` field is returned.
4. Metacontroller PUTs the status to K8s, returns 200 OK
[code]

5. Metacontroller immediately (20 ms later) calls `sync` ho

[2020-05-26 21:37] kelly-sm commented on #159
I think I may be hitting this same issue:
#201

I would add an additional perspective is that this doesn't work well for managing external resources for a couple of reasons:
- If an external resource already exists it is one of two outcomes:
   * It was created by this K8s resource -> success
   * It was created by another resource in K8s (different K8s name/namespace, same external resource ident

[2020-05-26 22:17] kelly-sm commented on #201
I would add a follow up question to this. Is it ever ok for a sync hook to inspect the `status` of the parent resource to determine what to do within the sync?

[2020-06-15 19:05] codebind-luna opened #202 "Image metacontroller:v0.4.0 is vulnerable, CVEs' found in clair scan"
### List of CVE's found:

`CVE-2018-6485: [High]
Found in: glibc [2.24-11+deb9u4]
Fixed By:
An integer overflow in the implementation of the posix_memalign in memalign functions in the GNU C Library (aka glibc or libc6) 2.26 and earlier could cause these functions to return a pointer to a heap area that is too small, potentially leading to heap corruption.
https://security-tracker.debian.org/track

[2020-06-16 11:00] AmitKumarDas commented on #202
The new home for metacontroller is now being done here.
https://github.com/metacontroller/metacontroller/

Once a new release is built from above repo, we shall have subsequent fixes that takes care of this issue.

Note that the new release will correspond exactly to this repo's 0.4.0 release.

[2020-06-18 14:30] rifqifatih opened #203 "Service-per-pod example: no matches for kind "Deployment" in version "apps/v1beta1""
Greetings,
I'm trying to follow the example in https://github.com/GoogleCloudPlatform/metacontroller/tree/master/examples/service-per-pod and executing `kubectl apply -f service-per-pod.yaml` will result in:
[code]

Changing the apiVersion to `apiVersion: apps/v1`  should work.

[2020-07-01 19:20] #202 closed